flows.json
[{"id":"67c21f546f3495cc","type":"tab","label":"Xtend","disabled":false,"info":"","env":[]},{"id":"037a8771d6eddae7","type":"function","z":"67c21f546f3495cc","name":"parse-message","func":"const e = {\n    status_0$temp_flow: {\n        key: \"7e06\",\n        type: \"int16\",\n        unit: \"unit.degrees_celcius\",\n        factor: \"0.01\"\n    },\n    status_0$temp_supply: {\n        key: \"7ee6\",\n        type: \"int16\",\n        unit: \"unit.degrees_celcius\",\n        factor: \"0.01\"\n    },\n    status_0$temp_return: {\n        key: \"7e81\",\n        type: \"int16\",\n        unit: \"unit.degrees_celcius\",\n        factor: \"0.01\"\n    },\n    status_0$temp_hotwater: {\n        key: \"7e28\",\n        type: \"int16\",\n        unit: \"unit.degrees_celcius\",\n        factor: \"0.01\"\n    },\n    status_0$temp_coldwater: {\n        key: \"7eb2\",\n        type: \"int16\",\n        unit: \"unit.degrees_celcius\",\n        factor: \"0.01\"\n    },\n    status_0$temp_flue: {\n        key: \"7ead\",\n        type: \"int16\",\n        unit: \"unit.degrees_celcius\",\n        factor: \"0.01\"\n    },\n    status_0$water_pressure: {\n        key: \"7ed3\",\n        type: \"int16\",\n        unit: \"unit.bars\",\n        factor: \"0.01\"\n    },\n    status_0$temp_set: {\n        key: \"7e31\",\n        type: \"int16\",\n        unit: \"unit.degrees_celcius\",\n        factor: \"0.01\"\n    },\n    status_0$temp_t_ext_1: {\n        key: \"7e52\",\n        type: \"int16\",\n        unit: \"unit.degrees_celcius\",\n        factor: \"0.01\"\n    },\n    status_0$temp_t_ext_2: {\n        key: \"7e5b\",\n        type: \"int16\",\n        unit: \"unit.degrees_celcius\",\n        factor: \"0.01\"\n    },\n    status_0$temp_misscher: {\n        key: \"7e9f\",\n        type: \"int16\",\n        unit: \"unit.degrees_celcius\",\n        factor: \"0.01\"\n    },\n    status_0$flame_current: {\n        key: \"7e82\",\n        type: \"int16\",\n        unit: \"unit.micro_ampere\",\n        factor: \"0.01\"\n    },\n    status_0$heatdemand_status: {\n        key: \"7e51\",\n        type: \"uint8\",\n        options: {\n            85: \"sensortest\",\n            86: \"commissioning\",\n            87: \"crankheating\",\n            170: \"service\",\n            204: \"dhw\",\n            51: \"dhw_int\",\n            240: \"boiler_int\",\n            15: \"boiler_ext\",\n            153: \"postrun_boiler\",\n            102: \"ch\",\n            103: \"ch_wait\",\n            104: \"defrosting\",\n            0: \"opentherm\",\n            255: \"heatup\",\n            24: \"frost\",\n            230: \"starting_ch\",\n            231: \"postrun_ch\",\n            126: \"standby\",\n            127: \"off\",\n            37: \"ch_rf\",\n            205: \"dhw_hreco\",\n            117: \"starting_cooling\",\n            118: \"cooling\",\n            119: \"cooling_wait\",\n            189: \"postrun_cooling\"\n        }\n    },\n    status_0$rf_thermostat_status: {\n        key: \"7e14\",\n        type: \"uint8\",\n        bits: [\"rf_rth_bound\", \"rf_rth_communication\", \"rf_rth_battery_info\", \"rf_rth_battery_ok\", \"rf_rth_nefertari\"]\n    },\n    status_0$heatdemand_io: {\n        key: \"7e3e\",\n        type: \"uint8\",\n        bits: [\"gp_switch\", \"tap_switch\", \"roomtherm\", \"pump\", \"threewayvalve\", \"alarm_status\", \"roomthermostat_230V\", \"opentherm\"]\n    },\n    status_0$burner_status: {\n        key: \"7e7a\",\n        type: \"uint8\",\n        options: {\n            0: \"startup\",\n            1: \"interpurge\",\n            2: \"postpurge\",\n            4: \"prepurge\",\n            8: \"ignition\",\n            16: \"waiting\",\n            32: \"running\",\n            64: \"rest\",\n            128: \"lockout\"\n        }\n    },\n    status_0$burner_io: {\n        key: \"7e76\",\n        type: \"uint8\",\n        bits: [\"gasvalve\", \"spark\", \"io_signal\", \"ch_ot_disabled\", \"low_water_pressure\", \"pressure_sensor\", \"burner_block\", \"grad_flag\"]\n    },\n    status_0$lockout_code: {\n        key: \"7e2c\",\n        type: \"uint8\",\n        options: {\n            1: \"LOCKOUT_CH_PUMP\",\n            2: \"LOCKOUT_DHW_PUMP\",\n            3: \"LOCKOUT_CONDENSOR_OVERHEAT\",\n            9: \"LOCKOUT_ERROR_LOCKOUT_DEVICE\",\n            10: \"LOCKOUT_DEFROST_WATER_TEMP_LOW\",\n            18: \"LOCKOUT_HEATPUMP_TYPE_UNCONFIGURED\",\n            19: \"LOCKOUT_BMM_ILLIGAL_SERIAL\",\n            20: \"LOCKOUT_STORAGEHANDLER_SYNC\",\n            22: \"LOCKOUT_FIRMWARE_COMPATIBILITY\",\n            23: \"LOCKOUT_XTP_DEVICE_INTERNAL_FAULT\",\n            24: \"LOCKOUT_XTP_DEVICE_CONFIG_FAULT\",\n            25: \"LOCKOUT_XTP_COMMUNICATION_FAULT\",\n            26: \"LOCKOUT_XTP_START_FAULT\",\n            31: \"LOCKOUT_ERROR_UNKNOWN\",\n            37: \"LOCKOUT_SENSOR_HP_RETURN\",\n            38: \"LOCKOUT_SENSOR_HP_SUPPLY\",\n            39: \"LOCKOUT_SENSOR_SYSTEM_SUPPLY\",\n            40: \"LOCKOUT_SENSOR_OUTDOOR\",\n            46: \"LOCKOUT_SENSOR_BOILER_RETURN\",\n            47: \"LOCKOUT_SENSOR_BOILER_SUPPLY\",\n            50: \"LOCKOUT_CODE_THERMOSTAT_HEATPUMP\",\n            51: \"LOCKOUT_CODE_THERMOSTAT_BOILER\",\n            254: \"LOCKOUT_BYPASS_MODE_ACTIVE\",\n            255: \"LOCKOUT_NO_ERROR\"\n        }\n    },\n    status_0$internal_fault: {\n        key: \"7e67\",\n        type: \"uint8\",\n        options: {\n            0: \"ERROR_UNKNOWN\",\n            1: \"ERROR_INTERRUPT_SEQUENCE\",\n            2: \"ERROR_INTERRUPT_SEQUENCE2\",\n            5: \"ERROR_INTERRUPT_NUMBER\",\n            6: \"ERROR_MAIN_NUMBER\",\n            7: \"ERROR_MAIN_SEQUENCE_TIMEOUT\",\n            8: \"ERROR_MAIN_LOAD\",\n            9: \"ERROR_CORRUPT_SEQUENCE_ID\",\n            10: \"ERROR_CRC32_CHECKSUM\",\n            11: \"ERROR_CRC32_RELEASE\",\n            12: \"ERROR_CRC32_TIMEOUT\",\n            13: \"ERROR_CRC32_NUMBER\",\n            14: \"ERROR_CRC32_VALUE\",\n            19: \"ERROR_EEPROM_BMM\",\n            20: \"ERROR_CHECKSUM\",\n            21: \"ERROR_CHECKSUM_RELEASE\",\n            22: \"ERROR_CHECKSUM_TIMEOUT\",\n            23: \"ERROR_CHECKSUM_NUMBER\",\n            24: \"ERROR_CHECKSUM_VALUE\",\n            30: \"ERROR_RAM_CUR_VALUE_1\",\n            31: \"ERROR_RAM_CUR_VALUE_2\",\n            32: \"ERROR_RAM_ADDRESS_1\",\n            33: \"ERROR_RAM_ADDRESS_2\",\n            34: \"ERROR_RAM_COUNTER_1\",\n            35: \"ERROR_RAM_COUNTER_2\",\n            36: \"ERROR_RAM_TIMEOUT_1\",\n            37: \"ERROR_RAM_TIMEOUT_2\",\n            38: \"ERROR_RAM_VALUE_1\",\n            39: \"ERROR_RAM_VALUE_2\",\n            40: \"ERROR_RAM_COUNTER\",\n            41: \"ERROR_RAM_TIMEOUT\",\n            42: \"ERROR_RAM_INIT_STATE\",\n            50: \"ERROR_ISR_SEQUENCE_AD\",\n            80: \"ERROR_AD_PIN_27\",\n            81: \"ERROR_AD_PIN_30\",\n            82: \"ERROR_SHORTCUT_PIN_27_PIN_28\",\n            83: \"ERROR_SHORTCUT_PIN_29_PIN_30\",\n            84: \"ERROR_AMPLIFIER_REF_0\",\n            85: \"ERROR_AMPLIFIER_REF_1\",\n            86: \"ERROR_AMPLIFIER_REF_2\",\n            87: \"ERROR_AMPLIFIER_REF_3\",\n            90: \"ERROR_SAMPLING_NOT_STARTED\",\n            107: \"ERROR_CLOCK_REF\",\n            108: \"ERROR_CLOCK_CRC\",\n            109: \"ERROR_MAIN_SEQUENCE_CHECK_TEMPERATURES\",\n            111: \"ERROR_HMI_INIT\",\n            120: \"ERROR_FAST_SEQUENCE_120\",\n            121: \"ERROR_FAST_SEQUENCE_121\",\n            122: \"ERROR_FAST_SEQUENCE_122\",\n            123: \"ERROR_FAST_SEQUENCE_123\",\n            124: \"ERROR_FAST_SEQUENCE_124\",\n            125: \"ERROR_FAST_SEQUENCE_125\",\n            126: \"ERROR_FAST_SEQUENCE_126\",\n            127: \"ERROR_FAST_SEQUENCE_127\",\n            128: \"ERROR_FAST_SEQUENCE_128\",\n            129: \"ERROR_FAST_SEQUENCE_129\",\n            130: \"ERROR_FAST_SEQUENCE_130\",\n            131: \"ERROR_FAST_SEQUENCE_131\",\n            132: \"ERROR_FAST_SEQUENCE_132\",\n            133: \"ERROR_FAST_SEQUENCE_133\",\n            134: \"ERROR_FAST_SEQUENCE_134\",\n            135: \"ERROR_FAST_SEQUENCE_135\",\n            136: \"ERROR_FAST_SEQUENCE_136\",\n            137: \"ERROR_FAST_SEQUENCE_137\",\n            138: \"ERROR_FAST_SEQUENCE_138\",\n            139: \"ERROR_FAST_SEQUENCE_139\",\n            140: \"ERROR_SLOW_SEQUENCE_140\",\n            141: \"ERROR_SLOW_SEQUENCE_141\",\n            142: \"ERROR_SLOW_SEQUENCE_142\",\n            143: \"ERROR_SLOW_SEQUENCE_143\",\n            144: \"ERROR_SLOW_SEQUENCE_144\",\n            145: \"ERROR_SLOW_SEQUENCE_145\",\n            146: \"ERROR_SLOW_SEQUENCE_146\",\n            147: \"ERROR_SLOW_SEQUENCE_147\",\n            148: \"ERROR_SLOW_SEQUENCE_148\",\n            149: \"ERROR_SLOW_SEQUENCE_149\",\n            150: \"ERROR_SLOW_SEQUENCE_150\",\n            151: \"ERROR_SLOW_SEQUENCE_151\",\n            152: \"ERROR_SLOW_SEQUENCE_152\",\n            153: \"ERROR_SLOW_SEQUENCE_153\",\n            154: \"ERROR_SLOW_SEQUENCE_154\",\n            155: \"ERROR_SLOW_SEQUENCE_155\",\n            156: \"ERROR_SLOW_SEQUENCE_156\",\n            157: \"ERROR_SLOW_SEQUENCE_157\",\n            158: \"ERROR_SLOW_SEQUENCE_158\",\n            159: \"ERROR_SLOW_SEQUENCE_159\",\n            200: \"ERROR_RESET_UNKNOWN\",\n            201: \"ERROR_RESET_POR\",\n            202: \"ERROR_RESET_VDDBOR\",\n            203: \"ERROR_RESET_BOR\",\n            204: \"ERROR_RESET_TRAPR\",\n            205: \"ERROR_RESET_IOPUWR\",\n            206: \"ERROR_RESET_CM\",\n            207: \"ERROR_RESET_EXTR\",\n            208: \"ERROR_RESET_WDTO\",\n            209: \"ERROR_RESET_DPSLP\",\n            210: \"ERROR_RESET_IDLE\",\n            211: \"ERROR_RESET_SLEEP\",\n            212: \"ERROR_RESET_DEFAULT_ISR\",\n            220: \"ERROR_ADDRESS_ERROR_TRAP\",\n            221: \"ERROR_MATH_ERROR_TRAP\",\n            222: \"ERROR_OSCILLATOR_FAIL_TRAP\",\n            223: \"ERROR_STACK_ERROR_TRAP\",\n            224: \"ERROR_DEFAULT_ISR_TRAP\",\n            225: \"ERROR_ALT_RESERVED_TRAP\",\n            226: \"ERROR_STM32_INIT\",\n            227: \"ERROR_MAIN_INIT\",\n            255: \"ERROR_UNKNOWN\"\n        }\n    },\n    status_1$flowsensor_flow: {\n        key: \"794b\",\n        type: \"int16\",\n        unit: \"unit.liters_per_minute\",\n        factor: \"0.01\"\n    },\n    status_1$notification_code: {\n        key: \"7940\",\n        type: \"uint8\",\n        options: {\n            0: \"WARN_PARAMETER_OUT_OF_BOUNDS\",\n            1: \"WARN_LOW_PRESSURE\",\n            2: \"WARN_NO_PRESSURE\",\n            8: \"WARN_XTP_FAULT_HP_OFF\",\n            9: \"WARN_HEATPUMP_SELECT_PHASE\",\n            10: \"WARN_HEATPUMP_REMOTE_OFF\",\n            11: \"WARN_HEATPUMP_FAILED\",\n            12: \"WARN_KWH_METER\",\n            13: \"WARN_CONDENSOR_OVERHEAT\",\n            14: \"WARN_ROOMTHERM_FAILED\",\n            15: \"WARN_CRANKHEATER\",\n            16: \"WARN_WATER_TEMP_SENSORS\",\n            18: \"WARN_EEPROM_BROKEN\",\n            19: \"WARN_BMM_BROKEN\",\n            20: \"WARN_NO_FLOW_DHW_CIRCUIT\",\n            21: \"WARN_NO_FLOW_CH_CIRCUIT\",\n            22: \"WARN_FLOW_CONTROL_DISABLED\",\n            23: \"WARN_COMMISSIONING_LOW_FLOW\",\n            26: \"WARN_RTC_TIME_INVALID\",\n            27: \"WARN_RTC_CLOCK\",\n            31: \"WARN_UNKNOWN\",\n            32: \"WARN_DEFROST_TIMEOUT\",\n            33: \"WARN_DEFROST_MONITOR_TIMEOUT\",\n            37: \"WARN_SENSOR_HP_RETURN\",\n            38: \"WARN_SENSOR_HP_SUPPLY\",\n            39: \"WARN_SENSOR_SYSTEM_SUPPLY\",\n            40: \"WARN_SENSOR_OUTDOOR\",\n            41: \"WARN_SENSOR_CONDENSOR_REF_LIQ\",\n            42: \"WARN_SENSOR_CONDENSOR_REF_GAS\",\n            46: \"WARN_SENSOR_BOILER_RETURN\",\n            47: \"WARN_SENSOR_BOILER_SUPPLY\",\n            48: \"WARN_BOILER_FLOW_TOO_HIGH\",\n            49: \"WARN_BOILER_FLOW_TOO_LOW\",\n            50: \"WARN_BOILER_FLOW_REVERSED\",\n            51: \"WARN_BOILER_FAULT\",\n            52: \"WARN_BOILER_OPENTHERM_FAULT\",\n            53: \"WARN_BOILER_BOILER_SETTING_MAX\",\n            54: \"WARN_BOILER_NO_CH_REPONSE\",\n            60: \"WARN_THERMOSTAT_VERSION\",\n            255: \"WARN_NONE\"\n        }\n    },\n    status_1$OT_master_member_id: {\n        key: \"79f9\",\n        type: \"uint8\"\n    },\n    status_1$override_roomtemperature_1: {\n        key: \"798f\",\n        type: \"int16\",\n        unit: \"unit.degrees_celcius\",\n        factor: \"0.01\"\n    },\n    status_1$roomtemperature_set_1: {\n        key: \"7921\",\n        type: \"int16\",\n        unit: \"unit.degrees_celcius\",\n        factor: \"0.01\"\n    },\n    status_1$roomtemperature_1: {\n        key: \"79b3\",\n        type: \"int16\",\n        unit: \"unit.degrees_celcius\",\n        factor: \"0.01\"\n    },\n    status_1$override_roomtemperature_2: {\n        key: \"7986\",\n        type: \"int16\",\n        unit: \"unit.degrees_celcius\",\n        factor: \"0.01\"\n    },\n    status_1$roomtemperature_set_2: {\n        key: \"7928\",\n        type: \"int16\",\n        unit: \"unit.degrees_celcius\",\n        factor: \"0.01\"\n    },\n    status_1$roomtemperature_2: {\n        key: \"79ba\",\n        type: \"int16\",\n        unit: \"unit.degrees_celcius\",\n        factor: \"0.01\"\n    },\n    status_1$temp_outside_actual: {\n        key: \"79f8\",\n        type: \"int16\",\n        unit: \"unit.degrees_celcius\",\n        factor: \"0.01\"\n    },\n    status_1$OT_therm_prod_version: {\n        key: \"7911\",\n        type: \"uint8\"\n    },\n    status_1$OT_therm_prod_type: {\n        key: \"79e0\",\n        type: \"uint8\"\n    },\n    status_1$override_dhw_comfort: {\n        key: \"7971\",\n        type: \"uint8\"\n    },\n    status_1$gasvalve_current: {\n        key: \"79f4\",\n        type: \"int8\",\n        unit: \"unit.ampere\",\n        factor: \"0.01\"\n    },\n    status_1$ot2_therm_prod_version: {\n        key: \"79c4\",\n        type: \"uint8\"\n    },\n    status_1$OT2_therm_prod_type: {\n        key: \"79e1\",\n        type: \"uint8\"\n    },\n    status_1$OT2_master_member_id: {\n        key: \"79fe\",\n        type: \"uint8\"\n    },\n    status_1$rf_rth_master_type: {\n        key: \"79ec\",\n        type: \"uint8\"\n    },\n    status_1$rf_rth_master_version: {\n        key: \"79eb\",\n        type: \"uint8\"\n    },\n    status_1$hardware_type: {\n        key: \"79c1\",\n        type: \"uint8\"\n    },\n    status_2$fan_set: {\n        key: \"701e\",\n        type: \"uint16\",\n        unit: \"unit.rounds_per_minute\"\n    },\n    status_2$fan_speed: {\n        key: \"70ee\",\n        type: \"uint16\",\n        unit: \"unit.rounds_per_minute\"\n    },\n    status_2$fan_torque: {\n        key: \"702b\",\n        type: \"uint16\"\n    },\n    status_2$fan_bridge_temperature: {\n        key: \"70db\",\n        type: \"int16\",\n        unit: \"unit.degrees_celcius\",\n        factor: \"0.01\"\n    },\n    status_2$bus_voltage: {\n        key: \"70ce\",\n        type: \"int16\",\n        unit: \"unit.voltage\",\n        factor: \"0.01\"\n    },\n    status_2$pump_set: {\n        key: \"707e\",\n        type: \"uint16\",\n        unit: \"unit.rounds_per_minute\"\n    },\n    status_2$pump_speed: {\n        key: \"701b\",\n        type: \"uint16\",\n        unit: \"unit.rounds_per_minute\"\n    },\n    status_2$pump_flow: {\n        key: \"70ec\",\n        type: \"uint16\",\n        unit: \"unit.liters_per_hour\"\n    },\n    status_2$pump_bridge_temperature: {\n        key: \"709a\",\n        type: \"int16\",\n        unit: \"unit.degrees_celcius\",\n        factor: \"0.01\"\n    },\n    status_2$temp_he1: {\n        key: \"7073\",\n        type: \"int16\",\n        unit: \"unit.degrees_celcius\",\n        factor: \"0.01\"\n    },\n    status_2$temp_he2: {\n        key: \"707a\",\n        type: \"int16\",\n        unit: \"unit.degrees_celcius\",\n        factor: \"0.01\"\n    },\n    status_2$stepper_pos_set: {\n        key: \"70cf\",\n        type: \"uint16\"\n    },\n    status_2$stepper_pos: {\n        key: \"70a3\",\n        type: \"uint16\"\n    },\n    status_3$SystemStatus: {\n        key: \"77dd\",\n        type: \"uint8\",\n        options: {\n            0: \"TID_MONITOR_LOCKOUT\",\n            1: \"TID_PUMP_VENTING\",\n            2: \"TID_SERVICE\",\n            3: \"TID_DEFROST\",\n            4: \"TID_DHW\",\n            5: \"TID_ROOMHEATING_COMFORT\",\n            6: \"TID_ROOMHEATING_ECO\",\n            7: \"TID_ROOMCOOLING\",\n            8: \"TID_DHW_HEATEXCHANGER\",\n            9: \"TID_FLOORHEATINGPROTOCOL\",\n            12: \"TID_ANTIFREEZE\",\n            13: \"TID_PUMP_MAINTENANCE\",\n            14: \"TID_IDLE\",\n            255: \"NO_TASK\"\n        }\n    },\n    status_3$PendingTask_1: {\n        key: \"7704\",\n        type: \"uint8\",\n        options: {\n            0: \"TID_MONITOR_LOCKOUT\",\n            1: \"TID_PUMP_VENTING\",\n            2: \"TID_SERVICE\",\n            3: \"TID_DEFROST\",\n            4: \"TID_DHW\",\n            5: \"TID_ROOMHEATING_COMFORT\",\n            6: \"TID_ROOMHEATING_ECO\",\n            7: \"TID_ROOMCOOLING\",\n            8: \"TID_DHW_HEATEXCHANGER\",\n            9: \"TID_FLOORHEATINGPROTOCOL\",\n            12: \"TID_ANTIFREEZE\",\n            13: \"TID_PUMP_MAINTENANCE\",\n            14: \"TID_IDLE\",\n            255: \"NO_TASK\"\n        }\n    },\n    status_3$PendingTask_2: {\n        key: \"770d\",\n        type: \"uint8\",\n        options: {\n            0: \"TID_MONITOR_LOCKOUT\",\n            1: \"TID_PUMP_VENTING\",\n            2: \"TID_SERVICE\",\n            3: \"TID_DEFROST\",\n            4: \"TID_DHW\",\n            5: \"TID_ROOMHEATING_COMFORT\",\n            6: \"TID_ROOMHEATING_ECO\",\n            7: \"TID_ROOMCOOLING\",\n            8: \"TID_DHW_HEATEXCHANGER\",\n            9: \"TID_FLOORHEATINGPROTOCOL\",\n            12: \"TID_ANTIFREEZE\",\n            13: \"TID_PUMP_MAINTENANCE\",\n            14: \"TID_IDLE\",\n            255: \"NO_TASK\"\n        }\n    },\n    status_3$PendingTask_3: {\n        key: \"770a\",\n        type: \"uint8\",\n        options: {\n            0: \"TID_MONITOR_LOCKOUT\",\n            1: \"TID_PUMP_VENTING\",\n            2: \"TID_SERVICE\",\n            3: \"TID_DEFROST\",\n            4: \"TID_DHW\",\n            5: \"TID_ROOMHEATING_COMFORT\",\n            6: \"TID_ROOMHEATING_ECO\",\n            7: \"TID_ROOMCOOLING\",\n            8: \"TID_DHW_HEATEXCHANGER\",\n            9: \"TID_FLOORHEATINGPROTOCOL\",\n            12: \"TID_ANTIFREEZE\",\n            13: \"TID_PUMP_MAINTENANCE\",\n            14: \"TID_IDLE\",\n            255: \"NO_TASK\"\n        }\n    },\n    status_3$PendingTask_4: {\n        key: \"771f\",\n        type: \"uint8\",\n        options: {\n            0: \"TID_MONITOR_LOCKOUT\",\n            1: \"TID_PUMP_VENTING\",\n            2: \"TID_SERVICE\",\n            3: \"TID_DEFROST\",\n            4: \"TID_DHW\",\n            5: \"TID_ROOMHEATING_COMFORT\",\n            6: \"TID_ROOMHEATING_ECO\",\n            7: \"TID_ROOMCOOLING\",\n            8: \"TID_DHW_HEATEXCHANGER\",\n            9: \"TID_FLOORHEATINGPROTOCOL\",\n            12: \"TID_ANTIFREEZE\",\n            13: \"TID_PUMP_MAINTENANCE\",\n            14: \"TID_IDLE\",\n            255: \"NO_TASK\"\n        }\n    },\n    status_3$PendingTask_5: {\n        key: \"7718\",\n        type: \"uint8\",\n        options: {\n            0: \"TID_MONITOR_LOCKOUT\",\n            1: \"TID_PUMP_VENTING\",\n            2: \"TID_SERVICE\",\n            3: \"TID_DEFROST\",\n            4: \"TID_DHW\",\n            5: \"TID_ROOMHEATING_COMFORT\",\n            6: \"TID_ROOMHEATING_ECO\",\n            7: \"TID_ROOMCOOLING\",\n            8: \"TID_DHW_HEATEXCHANGER\",\n            9: \"TID_FLOORHEATINGPROTOCOL\",\n            12: \"TID_ANTIFREEZE\",\n            13: \"TID_PUMP_MAINTENANCE\",\n            14: \"TID_IDLE\",\n            255: \"NO_TASK\"\n        }\n    },\n    status_3$SystemIo: {\n        key: \"77d2\",\n        type: \"uint16\",\n        bits: [\"dhwPumpOn\", \"chPumpOn\", \"pressureDetected\", \"systemFlowDetected\", \"dhwFlowDetected\", \"compressorRunning\", \"switched_on\", \"boiler_opentherm_connected\", \"boiled_requested\", \"thermostat_ot1_opentherm_connected\", \"thermostat_ot1_shortcircuit\", \"thermostat_ot2_opentherm_connected\", \"thermostat_ot2_shortcircuit\", \"commissioning\", \"gateway_connected\"]\n    },\n    status_3$RequestedHeatpumpMode: {\n        key: \"777d\",\n        type: \"uint8\",\n        options: {\n            0: \"HP_OM_DHW\",\n            1: \"HP_OM_HEATING\",\n            2: \"HP_OM_COOLING\",\n            253: \"HP_OM_PUMPDOWN\",\n            254: \"HP_OM_OFF\",\n            255: \"HP_OM_UNDEFINED\"\n        }\n    },\n    status_3$Flags: {\n        key: \"77c3\",\n        type: \"uint8\",\n        bits: [\"bLowLoadEnable\", \"bControlSupplyTemperature\", \"bProgressiveTempRequest\", \"bSilentModeActive\", \"bHeatpumpForceMaxPower\", \"bHeatpumpRegulateMaxPower\", \"bHeatWasAtMinimumFreq\", \"bCompressorWasOn\"]\n    },\n    status_3$HeatpumpHysteresisControlState: {\n        key: \"7769\",\n        type: \"uint8\"\n    },\n    status_3$HeatpumpDegreeMinutesControlState: {\n        key: \"7711\",\n        type: \"uint8\"\n    },\n    status_3$DegreeMinutesCompressorState: {\n        key: \"773a\",\n        type: \"uint8\"\n    },\n    status_3$RequestedTemperature: {\n        key: \"7767\",\n        type: \"int16\",\n        unit: \"unit.degrees_celcius\",\n        factor: \"0.01\"\n    },\n    status_3$FilteredReturnTemperature30min: {\n        key: \"771b\",\n        type: \"int16\",\n        unit: \"unit.degrees_celcius\",\n        factor: \"0.01\"\n    },\n    status_3$DegreeMinutesIntegrator: {\n        key: \"7712\",\n        type: \"int32\"\n    },\n    status_3$ProtectState: {\n        key: \"772c\",\n        type: \"uint8\"\n    },\n    status_3$RequestedBuhLevel: {\n        key: \"7766\",\n        type: \"uint8\",\n        options: {\n            0: \"BU_OFF\",\n            1: \"BU_STAGE1\",\n            2: \"BU_STAGE2\",\n            3: \"BU_STAGE3\"\n        }\n    },\n    status_3$BuhAllowedFlags: {\n        key: \"7716\",\n        type: \"uint8\",\n        bits: [\"L1_allowed\", \"L2_allowed\", \"L3_allowed\"]\n    },\n    status_3$BuhActiveFlags: {\n        key: \"77ce\",\n        type: \"uint8\",\n        bits: [\"L1_active\", \"L2_active\", \"L3_active\"]\n    },\n    status_3$ClockProgramActiveFlags: {\n        key: \"7747\",\n        type: \"uint8\",\n        bits: [\"CH_Active\", \"HP_Blocked_active\", \"Silent_Active\"]\n    },\n    status_4$tSystemSupply: {\n        key: \"621d\",\n        type: \"int16\",\n        unit: \"unit.degrees_celcius\",\n        factor: \"0.01\"\n    },\n    status_4$tHpSupply: {\n        key: \"62e7\",\n        type: \"int16\",\n        unit: \"unit.degrees_celcius\",\n        factor: \"0.01\"\n    },\n    status_4$tHpReturn: {\n        key: \"6280\",\n        type: \"int16\",\n        unit: \"unit.degrees_celcius\",\n        factor: \"0.01\"\n    },\n    status_4$tBoilerSupply: {\n        key: \"625b\",\n        type: \"int16\",\n        unit: \"unit.degrees_celcius\",\n        factor: \"0.01\"\n    },\n    status_4$tBoilerReturn: {\n        key: \"623c\",\n        type: \"int16\",\n        unit: \"unit.degrees_celcius\",\n        factor: \"0.01\"\n    },\n    status_4$tDhwHot: {\n        key: \"6269\",\n        type: \"int16\",\n        unit: \"unit.degrees_celcius\",\n        factor: \"0.01\"\n    },\n    status_4$tDhwCold: {\n        key: \"6256\",\n        type: \"int16\",\n        unit: \"unit.degrees_celcius\",\n        factor: \"0.01\"\n    },\n    status_4$tDhwPreheat: {\n        key: \"628d\",\n        type: \"int16\",\n        unit: \"unit.degrees_celcius\",\n        factor: \"0.01\"\n    },\n    status_4$tOutdoor: {\n        key: \"62d1\",\n        type: \"int16\",\n        unit: \"unit.degrees_celcius\",\n        factor: \"0.01\"\n    },\n    status_4$tTempAux1: {\n        key: \"620f\",\n        type: \"int16\",\n        unit: \"unit.degrees_celcius\",\n        factor: \"0.01\"\n    },\n    status_4$tTempAux2: {\n        key: \"6206\",\n        type: \"int16\",\n        unit: \"unit.degrees_celcius\",\n        factor: \"0.01\"\n    },\n    status_4$tTempSet: {\n        key: \"62ed\",\n        type: \"int16\",\n        unit: \"unit.degrees_celcius\",\n        factor: \"0.01\"\n    },\n    status_4$fSystem: {\n        key: \"629c\",\n        type: \"int16\",\n        unit: \"unit.liters_per_minute\",\n        factor: \"0.01\"\n    },\n    status_4$fDhw: {\n        key: \"6290\",\n        type: \"int16\",\n        unit: \"unit.liters_per_minute\",\n        factor: \"0.01\"\n    },\n    status_4$sPumpCh: {\n        key: \"62cb\",\n        type: \"int16\",\n        unit: \"unit.percent\",\n        factor: \"0.01\"\n    },\n    status_4$sPumpDhw: {\n        key: \"622b\",\n        type: \"int16\",\n        unit: \"unit.percent\",\n        factor: \"0.01\"\n    },\n    status_5$operationMode: {\n        key: \"657e\",\n        type: \"uint8\",\n        options: {\n            0: \"HP_OM_DHW\",\n            1: \"HP_OM_HEATING\",\n            2: \"HP_OM_COOLING\",\n            253: \"HP_OM_PUMPDOWN\",\n            254: \"HP_OM_OFF\",\n            255: \"HP_OM_UNDEFINED\"\n        }\n    },\n    status_5$workingMode: {\n        key: \"6578\",\n        type: \"uint8\",\n        options: {\n            0: \"HP_WM_COOLING\",\n            1: \"HP_WM_HEATING\",\n            2: \"HP_WM_DEFROSTING\",\n            3: \"HP_WM_PUMPDOWN\",\n            255: \"HP_WM_UNDEFINED\"\n        }\n    },\n    status_5$faultCode: {\n        key: \"651d\",\n        type: \"uint16\",\n        options: {\n            0: \"HP_GEN_FAULT_NONE\",\n            1: \"HP_GEN_FAULT_DEFROST_FAILED\",\n            2: \"HP_GEN_FAULT_LOW_PRESSURE\",\n            3: \"HP_GEN_FAULT_HIGH_PRESSURE\",\n            4: \"HP_GEN_FAULT_COMPRESSOR_OUTSIDE_OP_RANGE\",\n            5: \"HP_GEN_FAULT_EXHAUST_TEMP_TOO_HIGH\",\n            6: \"HP_GEN_FAULT_CONDENSOR_TEMP_TOO_HIGH\",\n            7: \"HP_GEN_FAULT_OUTDOORUNIT_SPECIFIC_AUTO_RESTART\",\n            8: \"HP_GEN_FAULT_OUTDOORUNIT_SPECIFIC_LOCKED\",\n            9: \"HP_GEN_FAULT_OUTDOORUNIT_CONTROL_GUARD\",\n            10: \"HP_GEN_FAULT_WATER_FLOW_TOO_LOW\",\n            11: \"HP_GEN_FAULT_WATER_FLOW_TOO_LOW_DEFROST\",\n            12: \"HP_GEN_FAULT_CONDENSOR_GAS_TOO_LOW\",\n            13: \"HP_GEN_FAULT_NO_TOUTDOOR_SENSOR\",\n            14: \"HP_GEN_FAULT_PUMPDOWN_FAILED\",\n            15: \"HP_GEN_FAULT_DSH_TOO_LOW\",\n            16: \"HP_GEN_FAULT_SSH_TOO_LOW\",\n            17: \"HP_GEN_FAULT_SSH_TOO_HIGH\",\n            18: \"HP_GEN_FAULT_COOLING_MODE_TEMPS\",\n            19: \"HP_GEN_FAULT_CONDENSOR_LIQUID_SENSOR\",\n            20: \"HP_GEN_FAULT_XTP_DEVICE_WATER_INLET\",\n            21: \"HP_GEN_FAULT_XTP_DEVICE_WATER_OUTLET\",\n            22: \"HP_GEN_FAULT_XTP_DEVICE_REFRIGERANT_LIQUID\",\n            23: \"HP_GEN_FAULT_XTP_DEVICE_REFRIGERANT_GAS\",\n            128: \"AC_BUS_VOLTAGE_HIGH\",\n            129: \"AC_BUS_VOLTAGE_LOW\",\n            130: \"DC_BUS_OVERVOLTAGE\",\n            131: \"COMPRESSOR_OVERCURRENT_HARDWARE\",\n            132: \"COMPRESSOR_OVERCURRENT_FIRMWARE\",\n            133: \"AC_INPUT_OVERCURRENT_HARDWARE\",\n            134: \"AC_INPUT_OVERCURRENT_FIRMWARE\",\n            135: \"COMPRESSOR_CURRENT_OVERLOAD\",\n            136: \"PHASE_LOSS_LOSS_OF_SYNCHRONISM\",\n            137: \"IPM_TEMP_PROTECTION\",\n            138: \"OUTDOOR_DC_FAN_FAULT\",\n            139: \"SUCTION_TEMP_SENSOR_ERROR\",\n            140: \"ODU_DISCHARGE_TEMP_SENSOR_ERROR\",\n            141: \"ODU_COIL_TEMP_SENSOR_ERROR\",\n            142: \"AMBIENT_TEMP_SENSOR_ERROR\",\n            143: \"DISCHARGE_TEMP_HIGH_ERROR\",\n            144: \"CONDENSING_TEMP_HIGH_ERROR\",\n            145: \"ODU_IDU_COMMUNICATION_ERROR\",\n            146: \"DC_BUS_UNDERVOLTAGE\",\n            255: \"NO_ERROR\",\n            65535: \"UNCONNECTED\"\n        }\n    },\n    status_5$flags: {\n        key: \"656b\",\n        type: \"uint16\",\n        bits: [\"powerOnReq\", \"powerOnStatus\"]\n    },\n    status_5$digitalIn: {\n        key: \"65b9\",\n        type: \"uint16\",\n        bits: [\"highPressureSwitch\", \"lowPressureSwitch\", \"waterFlowSwitch\", \"emergencySwitch\", \"modeSwitch\"]\n    },\n    status_5$digitalOut: {\n        key: \"65d0\",\n        type: \"uint16\",\n        bits: [\"compressor\", \"waterpump\", \"fourWayValve\", \"fanMotor\", \"antifreezeHeatingStrip\", \"crankAntifreezeHeatingStrip\", \"sprayValve\", \"auxiliaryElectricHeater\", \"dhwPump\", \"threewayValve\"]\n    },\n    status_5$inletWaterTemperature: {\n        key: \"655c\",\n        type: \"int16\",\n        unit: \"unit.degrees_celcius\",\n        factor: \"0.01\"\n    },\n    status_5$outletWaterTemperature: {\n        key: \"65d2\",\n        type: \"int16\",\n        unit: \"unit.degrees_celcius\",\n        factor: \"0.01\"\n    },\n    status_5$exhaustTemperature: {\n        key: \"65d9\",\n        type: \"int16\",\n        unit: \"unit.degrees_celcius\",\n        factor: \"0.01\"\n    },\n    status_5$suctionTemperature: {\n        key: \"6505\",\n        type: \"int16\",\n        unit: \"unit.degrees_celcius\",\n        factor: \"0.01\"\n    },\n    status_5$coilTemperature: {\n        key: \"65c1\",\n        type: \"int16\",\n        unit: \"unit.degrees_celcius\",\n        factor: \"0.01\"\n    },\n    status_5$ambientTemperature: {\n        key: \"6573\",\n        type: \"int16\",\n        unit: \"unit.degrees_celcius\",\n        factor: \"0.01\"\n    },\n    status_5$actualFrequency: {\n        key: \"65a7\",\n        type: \"int16\",\n        unit: \"unit.hertz\",\n        factor: \"0.01\"\n    },\n    status_5$frequencySetpoint: {\n        key: \"658a\",\n        type: \"int16\",\n        unit: \"unit.hertz\",\n        factor: \"0.01\"\n    },\n    status_5$suctionPressure: {\n        key: \"6579\",\n        type: \"int16\",\n        unit: \"unit.bars\",\n        factor: \"0.01\"\n    },\n    status_5$exhaustPressure: {\n        key: \"65b0\",\n        type: \"int16\",\n        unit: \"unit.bars\",\n        factor: \"0.01\"\n    },\n    status_5$phaseCurrent: {\n        key: \"657a\",\n        type: \"int16\",\n        unit: \"unit.ampere\",\n        factor: \"0.001\"\n    },\n    status_6$EEVSteps: {\n        key: \"6c66\",\n        type: \"int16\",\n        unit: \"unit.steps\"\n    },\n    status_6$suctionOverheat: {\n        key: \"6cfb\",\n        type: \"int16\",\n        unit: \"unit.degrees_celcius\",\n        factor: \"0.01\"\n    },\n    status_6$exhaustOverheat: {\n        key: \"6c33\",\n        type: \"int16\",\n        unit: \"unit.degrees_celcius\",\n        factor: \"0.01\"\n    },\n    status_6$fanspeedSetpoint: {\n        key: \"6c61\",\n        type: \"int16\",\n        unit: \"unit.rounds_per_minute\"\n    },\n    status_6$actualFan1Speed: {\n        key: \"6c8a\",\n        type: \"int16\",\n        unit: \"unit.rounds_per_minute\"\n    },\n    status_6$actualFan2Speed: {\n        key: \"6cf1\",\n        type: \"int16\",\n        unit: \"unit.rounds_per_minute\"\n    },\n    status_6$ACInputVoltage: {\n        key: \"6c8f\",\n        type: \"int16\",\n        unit: \"unit.voltage\",\n        factor: \"0.1\"\n    },\n    status_6$ACInputCurrent: {\n        key: \"6c00\",\n        type: \"int16\",\n        unit: \"unit.ampere\",\n        factor: \"0.001\"\n    },\n    status_6$busVoltage: {\n        key: \"6cfc\",\n        type: \"int16\",\n        unit: \"unit.voltage\",\n        factor: \"0.1\"\n    },\n    status_6$IPM_PIMactualTemp: {\n        key: \"6cd1\",\n        type: \"int16\",\n        unit: \"unit.degrees_celcius\",\n        factor: \"0.01\"\n    },\n    status_6$temperatureCondensor_refrigrerant_gas: {\n        key: \"6c26\",\n        type: \"int16\",\n        unit: \"unit.degrees_celcius\",\n        factor: \"0.01\"\n    },\n    status_6$temperatureCondensor_refrigrerant_liquid: {\n        key: \"6ceb\",\n        type: \"int16\",\n        unit: \"unit.degrees_celcius\",\n        factor: \"0.01\"\n    },\n    status_6$temperatureSubcooling: {\n        key: \"6c53\",\n        type: \"int16\",\n        unit: \"unit.degrees_celcius\",\n        factor: \"0.01\"\n    },\n    status_6$digitalOutIDU: {\n        key: \"6ce8\",\n        type: \"uint8\",\n        bits: [\"dig_out1\", \"dig_out2\"]\n    },\n    status_6$AuxOutIDU: {\n        key: \"6c8b\",\n        type: \"uint8\",\n        bits: [\"dig_out1\", \"dig_out2\"]\n    },\n    status_6$DigInIDU: {\n        key: \"6c35\",\n        type: \"uint8\",\n        bits: [\"dig_in1\", \"dig_in2\", \"dig_in3\"]\n    },\n    status_6$DigInOpenthermIDU: {\n        key: \"6c27\",\n        type: \"uint8\",\n        bits: [\"dig_in1\", \"dig_in2\"]\n    },\n    status_6$ZTV_input: {\n        key: \"6caf\",\n        type: \"uint16\"\n    },\n    status_7$powerOn: {\n        key: \"6b5f\",\n        type: \"uint8\"\n    },\n    status_7$temperatureSetpoint_DHW: {\n        key: \"6b95\",\n        type: \"int16\",\n        unit: \"unit.degrees_celcius\",\n        factor: \"0.01\"\n    },\n    status_7$temperatureSetpoint_Heating: {\n        key: \"6be7\",\n        type: \"int16\",\n        unit: \"unit.degrees_celcius\",\n        factor: \"0.01\"\n    },\n    status_7$temperatureSetpoint_Cooling: {\n        key: \"6bf3\",\n        type: \"int16\",\n        unit: \"unit.degrees_celcius\",\n        factor: \"0.01\"\n    },\n    status_7$temperatureHysteresis_off: {\n        key: \"6b75\",\n        type: \"int16\",\n        unit: \"unit.degrees_celcius\",\n        factor: \"0.01\"\n    },\n    status_7$temperatureHysteresis_on: {\n        key: \"6bfa\",\n        type: \"int16\",\n        unit: \"unit.degrees_celcius\",\n        factor: \"0.01\"\n    },\n    status_7$fanLimit_min: {\n        key: \"6b07\",\n        type: \"int16\",\n        unit: \"unit.rounds_per_minute\"\n    },\n    status_7$fanLimit_max: {\n        key: \"6bcd\",\n        type: \"int16\",\n        unit: \"unit.rounds_per_minute\"\n    },\n    status_7$compressorLimit_min: {\n        key: \"6b8f\",\n        type: \"int16\",\n        unit: \"unit.hertz\",\n        factor: \"0.01\"\n    },\n    status_7$compressorLimit_max: {\n        key: \"6b45\",\n        type: \"int16\",\n        unit: \"unit.hertz\",\n        factor: \"0.01\"\n    },\n    status_7$manualCompressorSpeed: {\n        key: \"6b3b\",\n        type: \"int16\",\n        unit: \"unit.hertz\",\n        factor: \"0.01\"\n    },\n    status_8$powerOn: {\n        key: \"46f6\",\n        type: \"uint8\"\n    },\n    status_8$temperatureSetpoint_DHW: {\n        key: \"46c0\",\n        type: \"int16\",\n        unit: \"unit.degrees_celcius\",\n        factor: \"0.01\"\n    },\n    status_8$temperatureSetpoint_Heating: {\n        key: \"4655\",\n        type: \"int16\",\n        unit: \"unit.degrees_celcius\",\n        factor: \"0.01\"\n    },\n    status_8$temperatureSetpoint_Cooling: {\n        key: \"4641\",\n        type: \"int16\",\n        unit: \"unit.degrees_celcius\",\n        factor: \"0.01\"\n    },\n    status_8$temperatureHysteresis_off: {\n        key: \"4638\",\n        type: \"int16\",\n        unit: \"unit.degrees_celcius\",\n        factor: \"0.01\"\n    },\n    status_8$temperatureHysteresis_on: {\n        key: \"4656\",\n        type: \"int16\",\n        unit: \"unit.degrees_celcius\",\n        factor: \"0.01\"\n    },\n    status_8$fanLimit_min: {\n        key: \"468f\",\n        type: \"int16\",\n        unit: \"unit.rounds_per_minute\"\n    },\n    status_8$fanLimit_max: {\n        key: \"4645\",\n        type: \"int16\",\n        unit: \"unit.rounds_per_minute\"\n    },\n    status_8$compressorLimit_min: {\n        key: \"46ef\",\n        type: \"int16\",\n        unit: \"unit.hertz\",\n        factor: \"0.01\"\n    },\n    status_8$compressorLimit_max: {\n        key: \"4625\",\n        type: \"int16\",\n        unit: \"unit.hertz\",\n        factor: \"0.01\"\n    },\n    status_8$manualCompressorSpeed: {\n        key: \"46ce\",\n        type: \"int16\",\n        unit: \"unit.hertz\",\n        factor: \"0.01\"\n    },\n    status_9$errorCode: {\n        key: \"4133\",\n        type: \"uint16\",\n        options: {\n            0: \"HP_GEN_FAULT_NONE\",\n            1: \"HP_GEN_FAULT_DEFROST_FAILED\",\n            2: \"HP_GEN_FAULT_LOW_PRESSURE\",\n            3: \"HP_GEN_FAULT_HIGH_PRESSURE\",\n            4: \"HP_GEN_FAULT_COMPRESSOR_OUTSIDE_OP_RANGE\",\n            5: \"HP_GEN_FAULT_EXHAUST_TEMP_TOO_HIGH\",\n            6: \"HP_GEN_FAULT_CONDENSOR_TEMP_TOO_HIGH\",\n            7: \"HP_GEN_FAULT_OUTDOORUNIT_SPECIFIC_AUTO_RESTART\",\n            8: \"HP_GEN_FAULT_OUTDOORUNIT_SPECIFIC_LOCKED\",\n            9: \"HP_GEN_FAULT_OUTDOORUNIT_CONTROL_GUARD\",\n            10: \"HP_GEN_FAULT_WATER_FLOW_TOO_LOW\",\n            11: \"HP_GEN_FAULT_WATER_FLOW_TOO_LOW_DEFROST\",\n            12: \"HP_GEN_FAULT_CONDENSOR_GAS_TOO_LOW\",\n            13: \"HP_GEN_FAULT_NO_TOUTDOOR_SENSOR\",\n            14: \"HP_GEN_FAULT_PUMPDOWN_FAILED\",\n            15: \"HP_GEN_FAULT_DSH_TOO_LOW\",\n            16: \"HP_GEN_FAULT_SSH_TOO_LOW\",\n            17: \"HP_GEN_FAULT_SSH_TOO_HIGH\",\n            18: \"HP_GEN_FAULT_COOLING_MODE_TEMPS\",\n            19: \"HP_GEN_FAULT_CONDENSOR_LIQUID_SENSOR\",\n            20: \"HP_GEN_FAULT_XTP_DEVICE_WATER_INLET\",\n            21: \"HP_GEN_FAULT_XTP_DEVICE_WATER_OUTLET\",\n            22: \"HP_GEN_FAULT_XTP_DEVICE_REFRIGERANT_LIQUID\",\n            23: \"HP_GEN_FAULT_XTP_DEVICE_REFRIGERANT_GAS\",\n            128: \"AC_BUS_VOLTAGE_HIGH\",\n            129: \"AC_BUS_VOLTAGE_LOW\",\n            130: \"DC_BUS_OVERVOLTAGE\",\n            131: \"COMPRESSOR_OVERCURRENT_HARDWARE\",\n            132: \"COMPRESSOR_OVERCURRENT_FIRMWARE\",\n            133: \"AC_INPUT_OVERCURRENT_HARDWARE\",\n            134: \"AC_INPUT_OVERCURRENT_FIRMWARE\",\n            135: \"COMPRESSOR_CURRENT_OVERLOAD\",\n            136: \"PHASE_LOSS_LOSS_OF_SYNCHRONISM\",\n            137: \"IPM_TEMP_PROTECTION\",\n            138: \"OUTDOOR_DC_FAN_FAULT\",\n            139: \"SUCTION_TEMP_SENSOR_ERROR\",\n            140: \"ODU_DISCHARGE_TEMP_SENSOR_ERROR\",\n            141: \"ODU_COIL_TEMP_SENSOR_ERROR\",\n            142: \"AMBIENT_TEMP_SENSOR_ERROR\",\n            143: \"DISCHARGE_TEMP_HIGH_ERROR\",\n            144: \"CONDENSING_TEMP_HIGH_ERROR\",\n            145: \"ODU_IDU_COMMUNICATION_ERROR\",\n            146: \"DC_BUS_UNDERVOLTAGE\",\n            255: \"NO_ERROR\",\n            65535: \"UNCONNECTED\"\n        }\n    },\n    status_9$controlFlags: {\n        key: \"4167\",\n        type: \"uint16\",\n        bits: [\"reset\", \"bSilentModeEnabled\", \"bCrankHeaterServiceMode\", \"bTempControlRecalcIntegrator\", \"bProgressiveTempRequest\", \"bActualWaterTempTooHigh\", \"bCrankHeatingWarning\", \"bCrankHeatingCompressorRun\", \"bInitTemperatureControl\", \"bHeatingAllowed\", \"bCoolingAllowed\", \"bCompressorStatePrev\", \"bAntiPendelDelay\", \"bOilReturnCycleBusy\", \"bCrankHeatingEnabled\", \"bCrankHeatingNeeded\"]\n    },\n    status_9$lastError_0: {\n        key: \"41a2\",\n        type: \"uint16\"\n    },\n    status_9$lastError_1: {\n        key: \"41a5\",\n        type: \"uint16\"\n    },\n    status_9$lastError_2: {\n        key: \"41ac\",\n        type: \"uint16\"\n    },\n    status_9$lastError_3: {\n        key: \"41ab\",\n        type: \"uint16\"\n    },\n    status_9$lastError_4: {\n        key: \"41be\",\n        type: \"uint16\"\n    },\n    status_9$extErrorCode: {\n        key: \"41a3\",\n        type: \"uint16\"\n    },\n    status_9$extPrevErrorCode: {\n        key: \"41d7\",\n        type: \"uint16\"\n    },\n    status_9$extError_status_0: {\n        key: \"41ec\",\n        type: \"uint16\"\n    },\n    status_9$extError_status_1: {\n        key: \"41eb\",\n        type: \"uint16\"\n    },\n    status_9$extError_status_2: {\n        key: \"41e2\",\n        type: \"uint16\"\n    },\n    status_9$extError_status_3: {\n        key: \"41e5\",\n        type: \"uint16\"\n    },\n    status_9$extError_status_4: {\n        key: \"41f0\",\n        type: \"uint16\"\n    },\n    status_9$extError_status_5: {\n        key: \"41f7\",\n        type: \"uint16\"\n    },\n    status_S$currentPowerThermal: {\n        key: \"5077\",\n        type: \"int16\",\n        factor: .001,\n        unit: \"unit.kilowatt\"\n    },\n    status_S$energyThermalDhwPrevDay: {\n        key: \"5098\",\n        type: \"int16\",\n        unit: \"unit.kWh\",\n        factor: \"0.1\"\n    },\n    status_S$energyThermalHeatingPrevDay: {\n        key: \"50ae\",\n        type: \"int16\",\n        unit: \"unit.kWh\",\n        factor: \"0.1\"\n    },\n    status_S$energyThermalCoolingPrevDay: {\n        key: \"5008\",\n        type: \"int16\",\n        unit: \"unit.kWh\",\n        factor: \"0.1\"\n    },\n    status_S$currentPowerElectric: {\n        key: \"50f2\",\n        type: \"int16\",\n        factor: .001,\n        unit: \"unit.kilowatt\"\n    },\n    status_S$energyElectricDhwPrevDay: {\n        key: \"50ff\",\n        type: \"int16\",\n        unit: \"unit.kWh\",\n        factor: \"0.1\"\n    },\n    status_S$energyElectricHeatingPrevDay: {\n        key: \"5099\",\n        type: \"int16\",\n        unit: \"unit.kWh\",\n        factor: \"0.1\"\n    },\n    status_S$energyElectricCoolingPrevDay: {\n        key: \"503f\",\n        type: \"int16\",\n        unit: \"unit.kWh\",\n        factor: \"0.1\"\n    },\n    status_S$currentCop: {\n        key: \"5041\",\n        type: \"uint8\",\n        factor: \"0.1\"\n    },\n    status_S$copDhwPrevDay: {\n        key: \"5031\",\n        type: \"uint8\",\n        factor: \"0.1\"\n    },\n    status_S$copHeatingPrevDay: {\n        key: \"50f7\",\n        type: \"uint8\",\n        factor: \"0.1\"\n    },\n    status_S$copCoolingPrevDay: {\n        key: \"5051\",\n        type: \"uint8\",\n        factor: \"0.1\"\n    },\n    status_S$currentDhwPowerThermal: {\n        key: \"5092\",\n        type: \"int16\",\n        factor: .001,\n        unit: \"unit.kilowatt\"\n    },\n    status_S$currentHpPowerThermal: {\n        key: \"503e\",\n        type: \"int16\",\n        factor: .001,\n        unit: \"unit.kilowatt\"\n    },\n    status_S$currentBoilerPowerThermal: {\n        key: \"5088\",\n        type: \"int16\",\n        factor: .001,\n        unit: \"unit.kilowatt\"\n    },\n    status_S$energyThermalBoilerPrevDay: {\n        key: \"506a\",\n        type: \"int16\",\n        unit: \"unit.kWh\",\n        factor: \"0.1\"\n    },\n    statistics_0$poweron_hours: {\n        key: \"71a7\",\n        type: \"uint16\",\n        unit: \"unit.hours\"\n    },\n    statistics_0$poweron_number: {\n        key: \"7160\",\n        type: \"uint16\"\n    },\n    statistics_0$ch_hours: {\n        key: \"71b7\",\n        type: \"uint16\",\n        unit: \"unit.hours\"\n    },\n    statistics_0$dhw_hours: {\n        key: \"71da\",\n        type: \"uint16\",\n        unit: \"unit.hours\"\n    },\n    statistics_0$ignition_successful: {\n        key: \"71fa\",\n        type: \"uint16\"\n    },\n    statistics_0$ignition_not_successful: {\n        key: \"712c\",\n        type: \"uint16\"\n    },\n    statistics_0$flame_loss: {\n        key: \"7195\",\n        type: \"uint16\"\n    },\n    statistics_0$reset_number: {\n        key: \"7162\",\n        type: \"uint16\"\n    },\n    statistics_0$gas_meter_ch: {\n        key: \"7191\",\n        type: \"uint32\",\n        unit: \"unit.cubic_meter\",\n        factor: \"0.0001\"\n    },\n    statistics_0$gas_meter_dhw: {\n        key: \"71aa\",\n        type: \"uint32\",\n        unit: \"unit.cubic_meter\",\n        factor: \"0.0001\"\n    },\n    statistics_0$water_meter: {\n        key: \"7153\",\n        type: \"uint16\",\n        unit: \"unit.cubic_meter\",\n        factor: \"0.0001\"\n    },\n    statistics_0$ignition_successful_dhw: {\n        key: \"71c0\",\n        type: \"uint16\"\n    },\n    statistics_0$water_meter_MSB: {\n        key: \"7105\",\n        type: \"uint8\"\n    },\n    statistics_0$ignition_successful_dhw_MSB: {\n        key: \"7169\",\n        type: \"uint8\"\n    },\n    statistics_0$poweron_hours_MSB: {\n        key: \"715e\",\n        type: \"uint8\",\n        unit: \"unit.hours\"\n    },\n    statistics_0$ignition_successful_MSB: {\n        key: \"715c\",\n        type: \"uint8\"\n    },\n    statistics_1$maintenance_days: {\n        key: \"761c\",\n        type: \"uint16\",\n        unit: \"unit.days\"\n    },\n    statistics_1$maintenance_gas_usage: {\n        key: \"76db\",\n        type: \"uint16\",\n        unit: \"unit.cubic_meter\"\n    },\n    statistics_1$maintenance_reset_counter: {\n        key: \"761e\",\n        type: \"uint8\"\n    },\n    statistics_1$clv_protection_cntr: {\n        key: \"766d\",\n        type: \"uint16\"\n    },\n    statistics_5$startDhwCounter: {\n        key: \"6a8d\",\n        type: \"uint24\"\n    },\n    statistics_5$startHeatingCounter: {\n        key: \"6a8e\",\n        type: \"uint24\"\n    },\n    statistics_5$startCoolingCounter: {\n        key: \"6a28\",\n        type: \"uint24\"\n    },\n    statistics_5$startDefrostCounter: {\n        key: \"6a53\",\n        type: \"uint24\"\n    },\n    statistics_5$operationDhwHours: {\n        key: \"6a6c\",\n        type: \"uint24\",\n        unit: \"unit.hours\"\n    },\n    statistics_5$operationHeatingHours: {\n        key: \"6ac5\",\n        type: \"uint24\",\n        unit: \"unit.hours\"\n    },\n    statistics_5$operationCoolingHours: {\n        key: \"6a78\",\n        type: \"uint24\",\n        unit: \"unit.hours\"\n    },\n    statistics_5$otStatsBoilerBurnerStarts: {\n        key: \"6abd\",\n        type: \"uint16\"\n    },\n    statistics_5$otStatsBoilerBurnerCHHours: {\n        key: \"6a01\",\n        type: \"uint16\",\n        unit: \"unit.hours\"\n    },\n    statistics_5$otStatsBoilerBurnerDHWHours: {\n        key: \"6a9b\",\n        type: \"uint16\",\n        unit: \"unit.hours\"\n    },\n    statistics_6$startBoilerCounter: {\n        key: \"63ae\",\n        type: \"uint24\"\n    },\n    statistics_6$operationBoilerHours: {\n        key: \"631a\",\n        type: \"uint24\",\n        unit: \"unit.hours\"\n    },\n    statistics_6$thermalEnergyBoiler: {\n        key: \"63df\",\n        type: \"uint24\",\n        unit: \"unit.kWh\",\n        factor: \"1.0\"\n    },\n    statistics_6$thermalEnergyDHW: {\n        key: \"6339\",\n        type: \"uint24\",\n        unit: \"unit.kWh\",\n        factor: \"1.0\"\n    },\n    statistics_6$thermalEnergyHeating: {\n        key: \"63f0\",\n        type: \"uint24\",\n        unit: \"unit.kWh\",\n        factor: \"1.0\"\n    },\n    statistics_6$thermalEnergyCooling: {\n        key: \"63e4\",\n        type: \"uint24\",\n        unit: \"unit.kWh\",\n        factor: \"1.0\"\n    },\n    statistics_6$electricEnergyDHW: {\n        key: \"6358\",\n        type: \"uint24\",\n        unit: \"unit.kWh\",\n        factor: \"1.0\"\n    },\n    statistics_6$electricEnergyHeating: {\n        key: \"63b3\",\n        type: \"uint24\",\n        unit: \"unit.kWh\",\n        factor: \"1.0\"\n    },\n    statistics_6$electricEnergyCooling: {\n        key: \"63a7\",\n        type: \"uint24\",\n        unit: \"unit.kWh\",\n        factor: \"1.0\"\n    },\n    statistics_7$bugfixentry_0: {\n        key: \"64e2\",\n        type: \"bytes\"\n    },\n    statistics_7$bugfixentry_1: {\n        key: \"64e5\",\n        type: \"bytes\"\n    },\n    statistics_7$bugfixentry_2: {\n        key: \"64ec\",\n        type: \"bytes\"\n    },\n    statistics_7$bugfixentry_3: {\n        key: \"64eb\",\n        type: \"bytes\"\n    },\n    statistics_7$bugfixentry_4: {\n        key: \"64fe\",\n        type: \"bytes\"\n    },\n    statistics_7$bugfixentry_5: {\n        key: \"64f9\",\n        type: \"bytes\"\n    },\n    statistics_7$bugfixentry_6: {\n        key: \"64f0\",\n        type: \"bytes\"\n    },\n    statistics_7$bugfixentry_7: {\n        key: \"64f7\",\n        type: \"bytes\"\n    },\n    CPUinfo$software_name: {\n        key: \"47da\",\n        type: \"bytes\"\n    },\n    CPUinfo$date_code: {\n        key: \"47b0\",\n        type: \"bytes\"\n    },\n    CPUinfo$software_version: {\n        key: \"47e0\",\n        type: \"bytes\"\n    },\n    CPUinfo$crc: {\n        key: \"47b1\",\n        type: \"bytes\"\n    },\n    CPUinfo$checksum: {\n        key: \"473d\",\n        type: \"bytes\"\n    },\n    faultcounters$lockoutHistory_0: {\n        key: \"4c5d\",\n        type: \"uint8\"\n    },\n    faultcounters$lockoutHistory_1: {\n        key: \"4c5a\",\n        type: \"uint8\"\n    },\n    faultcounters$lockoutHistory_2: {\n        key: \"4c53\",\n        type: \"uint8\"\n    },\n    faultcounters$lockoutHistory_3: {\n        key: \"4c54\",\n        type: \"uint8\"\n    },\n    faultcounters$lockoutHistory_4: {\n        key: \"4c41\",\n        type: \"uint8\"\n    },\n    faultcounters$lockoutHistory_5: {\n        key: \"4c46\",\n        type: \"uint8\"\n    },\n    faultcounters$lockoutHistory_6: {\n        key: \"4c4f\",\n        type: \"uint8\"\n    },\n    faultcounters$lockoutHistory_7: {\n        key: \"4c48\",\n        type: \"uint8\"\n    },\n    faultcounters$lockoutHistory_8: {\n        key: \"4c65\",\n        type: \"uint8\"\n    },\n    faultcounters$lockoutHistory_9: {\n        key: \"4c62\",\n        type: \"uint8\"\n    },\n    faultcounters$lockoutHistory_10: {\n        key: \"4c11\",\n        type: \"uint8\"\n    },\n    faultcounters$lockoutHistory_11: {\n        key: \"4c16\",\n        type: \"uint8\"\n    },\n    faultcounters$lockoutHistory_12: {\n        key: \"4c1f\",\n        type: \"uint8\"\n    },\n    faultcounters$lockoutHistory_13: {\n        key: \"4c18\",\n        type: \"uint8\"\n    },\n    faultcounters$lockoutHistory_14: {\n        key: \"4c0d\",\n        type: \"uint8\"\n    },\n    faultcounters$lockoutHistory_15: {\n        key: \"4c0a\",\n        type: \"uint8\"\n    },\n    faultcounters$lockoutHistory_16: {\n        key: \"4c03\",\n        type: \"uint8\"\n    },\n    faultcounters$lockoutHistory_17: {\n        key: \"4c04\",\n        type: \"uint8\"\n    },\n    faultcounters$lockoutHistory_18: {\n        key: \"4c29\",\n        type: \"uint8\"\n    },\n    faultcounters$lockoutHistory_19: {\n        key: \"4c2e\",\n        type: \"uint8\"\n    },\n    faultcounters$lockoutHistory_20: {\n        key: \"4c2f\",\n        type: \"uint8\"\n    },\n    faultcounters$lockoutHistory_21: {\n        key: \"4c2a\",\n        type: \"uint8\"\n    },\n    faultcounters$lockoutHistory_22: {\n        key: \"4c20\",\n        type: \"uint8\"\n    },\n    faultcounters$lockoutHistory_23: {\n        key: \"4c27\",\n        type: \"uint8\"\n    },\n    faultcounters$lockoutHistory_24: {\n        key: \"4c32\",\n        type: \"uint8\"\n    },\n    faultcounters$lockoutHistory_25: {\n        key: \"4c35\",\n        type: \"uint8\"\n    },\n    faultcounters$lockoutHistory_26: {\n        key: \"4c3c\",\n        type: \"uint8\"\n    },\n    faultcounters$lockoutHistory_27: {\n        key: \"4c3b\",\n        type: \"uint8\"\n    },\n    faultcounters$lockoutHistory_28: {\n        key: \"4c17\",\n        type: \"uint8\"\n    },\n    faultcounters$lockoutHistory_29: {\n        key: \"4c12\",\n        type: \"uint8\"\n    },\n    faultcounters$lockoutHistory_30: {\n        key: \"4c3d\",\n        type: \"uint8\"\n    },\n    faultcounters$lockoutHistory_31: {\n        key: \"4c3e\",\n        type: \"uint8\"\n    },\n    heatpump_generic$compressorLimitingFlags: {\n        key: \"8d6f\",\n        type: \"uint8\",\n        bits: [\"compressorLimitMaxOutdoorUnitSpec\", \"compressorLimitMaxApplication\", \"compressorLimitMaxPressureRatio\", \"compressorLimitMaxExhaustTemp\", \"compressorLimitMaxCondensorTemp\", \"compressorLimitMinOutdoorUnitSpec\", \"compressorLimitMinApplication\", \"compressorLimitMinSuperheat\"]\n    },\n    heatpump_generic$pressureRatio: {\n        key: \"8d24\",\n        type: \"uint8\",\n        factor: \"0.1\"\n    },\n    heatpump_generic$limiterPressureRatioFreq: {\n        key: \"8db3\",\n        type: \"uint8\"\n    },\n    heatpump_generic$limiterExhaustTempFreq: {\n        key: \"8d35\",\n        type: \"uint8\"\n    },\n    heatpump_generic$limiterCondensorTempFreq: {\n        key: \"8d3c\",\n        type: \"uint8\"\n    },\n    heatpump_generic$limiterEvaporatorTempFreq: {\n        key: \"8dbe\",\n        type: \"uint8\"\n    },\n    heatpump_generic$heatingState: {\n        key: \"8d6d\",\n        type: \"uint8\"\n    },\n    heatpump_generic$coolingState: {\n        key: \"8dd0\",\n        type: \"uint8\"\n    },\n    heatpump_generic$defrostState: {\n        key: \"8dea\",\n        type: \"uint8\"\n    },\n    heatpump_generic$defrostTimer3: {\n        key: \"8d05\",\n        type: \"uint8\"\n    },\n    heatpump_generic$defrostTimerM2: {\n        key: \"8df1\",\n        type: \"uint8\"\n    },\n    heatpump_generic$crank_heater_estimated_temp: {\n        key: \"8d94\",\n        type: \"int16\",\n        unit: \"unit.degrees_celcius\",\n        factor: \"0.01\"\n    },\n    heatpump_generic$defrostFlags: {\n        key: \"8de8\",\n        type: \"uint8\",\n        bits: [\"AutoStartRequest\", \"StartDefrost\", \"DefrostFailed\", \"EvaporatorFrozen\"]\n    },\n    heatpump_generic$faultCodeCurrent: {\n        key: \"8dec\",\n        type: \"uint8\"\n    },\n    heatpump_generic$faultCodeCurrentOutdoorUnit: {\n        key: \"8d10\",\n        type: \"uint8\"\n    },\n    heatpump_generic$faultCodeCurrentIndex: {\n        key: \"8d3a\",\n        type: \"uint8\"\n    },\n    heatpump_generic$deviceState_u8: {\n        key: \"8d6b\",\n        type: \"uint8\"\n    },\n    heatpump_generic$control_flags_u16: {\n        key: \"8dc9\",\n        type: \"uint16\",\n        bits: [\"reset\", \"bSilentModeEnabled\", \"bCrankHeaterServiceMode\", \"bTempControlRecalcIntegrator\", \"bProgressiveTempRequest\", \"bActualWaterTempTooHigh\", \"bCrankHeatingWarning\", \"bCrankHeatingCompressorRun\", \"bInitTemperatureControl\", \"bHeatingAllowed\", \"bCoolingAllowed\", \"bCompressorStatePrev\", \"bAntiPendelDelay\", \"bOilReturnCycleBusy\", \"bCrankHeatingEnabled\", \"bCrankHeatingNeeded\"]\n    },\n    heatpump_generic$pid_temp_control_heating_output_s16: {\n        key: \"8d69\",\n        type: \"int16\",\n        unit: \"unit.degrees_celcius\",\n        factor: \"0.01\"\n    },\n    heatpump_generic$actual_comp_freq_min_u8: {\n        key: \"8d4c\",\n        type: \"uint8\",\n        unit: \"unit.hertz\"\n    },\n    heatpump_generic$actual_comp_freq_max_u8: {\n        key: \"8d46\",\n        type: \"uint8\",\n        unit: \"unit.hertz\"\n    },\n    heatpump_generic$limiterSuperheatTempFreq_u8: {\n        key: \"8d0b\",\n        type: \"uint8\"\n    },\n    heatpump_generic$compressorLimitingFlags_msb: {\n        key: \"8d49\",\n        type: \"uint8\",\n        bits: [\"compressorLimitMinSuperheat\", \"compressorLimitMaxCurrentDraw\", \"compressorLimitMinEvaporatorTemp\"]\n    },\n    heatpump_generic$heatpump_stop_cause_u8: {\n        key: \"8de3\",\n        type: \"uint8\"\n    },\n    heatpump_generic$limiterCurrentDrawFreq: {\n        key: \"8dd1\",\n        type: \"uint8\"\n    },\n    heatpump_generic$comp_freq_control_kp_u8: {\n        key: \"8d6e\",\n        type: \"uint8\"\n    },\n    heatpump_generic$comp_freq_control_ki_u8: {\n        key: \"8daf\",\n        type: \"uint8\"\n    },\n    heatpump_generic$crank_heater_state_u8: {\n        key: \"8d34\",\n        type: \"uint8\"\n    },\n    heatpump_generic$crank_heater_time_to_start_u8: {\n        key: \"8d21\",\n        type: \"uint8\"\n    },\n    heatpump_specific_tcl$Flags: {\n        key: \"f0f0\",\n        type: \"uint16\",\n        bits: [\"bOnline\", \"bSuperheatHeatingActive\", \"bSuperheatHeatingRecalcIntegrator\", \"bUnused\", \"bSuperheat4WayValveStatePrev\", \"bSuperheatInitPID\", \"bSuperheatDSHHighControlled\", \"bSuperheatMinimumControlled\", \"bCompressorPFC_on\", \"bSuperheatMaxEvapTempControlled\", \"bSuperheatMinPressureRatioControlled\", \"bSuperheatOscillationSignalRising\", \"bSuperheatOscillationDetEnabled\", \"bSuperheatMSSControlled\", \"bSuperheatDSHLowControlled\", \"bSuperheatSubcoolingControlled\"]\n    },\n    heatpump_specific_tcl$Tsuperheat_filter_heating: {\n        key: \"f04b\",\n        type: \"int16\",\n        unit: \"unit.degrees_celcius\",\n        factor: \"0.01\"\n    },\n    heatpump_specific_tcl$targetSuperheat_heating: {\n        key: \"f03f\",\n        type: \"int16\",\n        unit: \"unit.degrees_celcius\",\n        factor: \"0.01\"\n    },\n    heatpump_specific_tcl$eevSuperheatOutput_heating: {\n        key: \"f068\",\n        type: \"uint16\"\n    },\n    heatpump_specific_tcl$Tcondensor_liquid: {\n        key: \"f031\",\n        type: \"int16\",\n        unit: \"unit.degrees_celcius\",\n        factor: \"0.01\"\n    },\n    heatpump_specific_tcl$Tcondensor_gas: {\n        key: \"f055\",\n        type: \"int16\",\n        unit: \"unit.degrees_celcius\",\n        factor: \"0.01\"\n    },\n    heatpump_specific_tcl$eevSuperheatTargetMinCompRatio: {\n        key: \"f071\",\n        type: \"int16\",\n        unit: \"unit.degrees_celcius\",\n        factor: \"0.01\"\n    },\n    heatpump_specific_tcl$eevSuperheatTargetMaxEvapTemp: {\n        key: \"f066\",\n        type: \"int16\",\n        unit: \"unit.degrees_celcius\",\n        factor: \"0.01\"\n    },\n    heatpump_specific_tcl$eevFeedForward: {\n        key: \"f02e\",\n        type: \"uint16\"\n    },\n    heatpump_specific_tcl$pidSuperheatOutput: {\n        key: \"f0f1\",\n        type: \"int16\"\n    },\n    heatpump_specific_tcl$eevLongTermAdjustment: {\n        key: \"f094\",\n        type: \"int16\"\n    },\n    heatpump_specific_tcl$eevPIDKp: {\n        key: \"f0bf\",\n        type: \"uint8\"\n    },\n    heatpump_specific_tcl$eevPIDKi: {\n        key: \"f0f2\",\n        type: \"uint8\"\n    },\n    heatpump_specific_tcl$eevPIDKd: {\n        key: \"f0d3\",\n        type: \"uint8\"\n    },\n    heatpump_specific_tcl$compressorFreqRestriction: {\n        key: \"f060\",\n        type: \"uint16\"\n    },\n    heatpump_specific_tcl$softwareVersion: {\n        key: \"f0a6\",\n        type: \"uint16\"\n    },\n    heatpump_specific_tcl$hardwareVersion: {\n        key: \"f02b\",\n        type: \"uint16\"\n    },\n    heatpump_specific_tcl2$superheatMMSTargetAdjustment: {\n        key: \"4088\",\n        type: \"int16\",\n        unit: \"unit.degrees_celcius\",\n        factor: \"0.01\"\n    },\n    heatpump_specific_tcl2$superheatActualClosedLoopTi_u16: {\n        key: \"4022\",\n        type: \"uint16\"\n    },\n    heatpump_specific_tcl2$superheatMMSPeriodTime_u16: {\n        key: \"40c2\",\n        type: \"uint16\"\n    },\n    heatpump_specific_tcl2$SuperheatTargetSubcoolingAdj: {\n        key: \"407a\",\n        type: \"int16\",\n        unit: \"unit.degrees_celcius\",\n        factor: \"0.01\"\n    },\n    heatpump_specific_tcl2$heatTransferCoeffWattPerK_s16: {\n        key: \"4041\",\n        type: \"int16\",\n        unit: \"unit.watts_per_kelvin\"\n    },\n    heatpump_specific_tcl2$SuperheatClosedLoopModeState: {\n        key: \"400c\",\n        type: \"uint8\"\n    },\n    bivalent_service$flags: {\n        key: \"f9f2\",\n        type: \"uint16\",\n        bits: [\"HeatpumpNotAllowed\", \"HPFailedBackupActive\", \"BoilerNeeded\", \"HPCopEfficiencyOkay\", \"InitialDelayDone\", \"bStartWithBoilerImmediatly\", \"bBackupReqPrev\", \"bHeatpumpRequested\", \"bBoilerRequested\", \"bBoilerActualState\", \"bBoilerOpenLoopControl\", \"bBoilerFlameDetected\", \"bBoilerFlameDurShort\", \"bLowLoadDetected\", \"bDefrostActive\", \"bBlockHpClockProgram\"]\n    },\n    bivalent_service$sfTreturn30sec: {\n        key: \"f908\",\n        type: \"int16\",\n        unit: \"unit.degrees_celcius\",\n        factor: \"0.01\"\n    },\n    bivalent_service$sfTsystemsupply30sec: {\n        key: \"f909\",\n        type: \"int16\",\n        unit: \"unit.degrees_celcius\",\n        factor: \"0.01\"\n    },\n    bivalent_service$BivalentState: {\n        key: \"f969\",\n        type: \"uint8\"\n    },\n    bivalent_service$BivalentDeviceState: {\n        key: \"f938\",\n        type: \"uint8\"\n    },\n    bivalent_service$DegreeMinutes: {\n        key: \"f99a\",\n        type: \"int16\"\n    },\n    bivalent_service$maHpThermalPower: {\n        key: \"f926\",\n        type: \"int16\",\n        factor: .001,\n        unit: \"unit.kilowatt\"\n    },\n    bivalent_service$maHpElectricalPower: {\n        key: \"f91f\",\n        type: \"int16\",\n        factor: .001,\n        unit: \"unit.kilowatt\"\n    },\n    bivalent_service$AverageCOP: {\n        key: \"f934\",\n        type: \"uint8\"\n    },\n    bivalent_service$tmrBoilerDelay_threshold: {\n        key: \"f9bc\",\n        type: \"uint8\"\n    },\n    bivalent_service$MinCopThreshold_u8: {\n        key: \"f9c9\",\n        type: \"uint8\"\n    },\n    bivalent_service$BivalentSensorCalState: {\n        key: \"f9b4\",\n        type: \"uint8\"\n    },\n    bivalent_service$tLongTermCalibration_HpSupply_s16: {\n        key: \"f9c7\",\n        type: \"int16\",\n        unit: \"unit.degrees_celcius\",\n        factor: \"0.01\"\n    },\n    bivalent_service$tLongTermCalibration_SysSupply_s16: {\n        key: \"f950\",\n        type: \"int16\",\n        unit: \"unit.degrees_celcius\",\n        factor: \"0.01\"\n    },\n    bivalent_service$bForcedCalibration: {\n        key: \"f98e\",\n        type: \"uint16\"\n    },\n    bivalent_service$relativePowerLevel: {\n        key: \"f9b1\",\n        type: \"uint16\"\n    },\n    bivalent_service$flags2: {\n        key: \"f94e\",\n        type: \"uint16\",\n        bits: [\"bBlockBoiler\", \"bRunWaterPompLowRequest\", \"bHpWithinOpRangeHeating\", \"bSoftStartTWaterBelowTReq\", \"bCrankHeatingBackupReq\", \"bHeatpumpStoppedSensorCal\"]\n    },\n    boiler_control$boiler_request_on: {\n        key: \"b2af\",\n        type: \"uint8\"\n    },\n    boiler_control$boiler_temp_exceeded_flags: {\n        key: \"b241\",\n        type: \"uint8\",\n        bits: [\"temp_mon_boiler_flow_reversed\", \"temp_mon_boiler_flow_too_high\", \"temp_mon_boiler_flow_too_low\"]\n    },\n    boiler_control$boiler_request_temperature: {\n        key: \"b2fe\",\n        type: \"int16\",\n        unit: \"unit.degrees_celcius\",\n        factor: \"0.01\"\n    },\n    boiler_control$boiler_request_powerlevel: {\n        key: \"b232\",\n        type: \"int16\",\n        unit: \"unit.percent\",\n        factor: \"0.01\"\n    },\n    boiler_control$boiler_power_limit: {\n        key: \"b2d5\",\n        type: \"int16\",\n        unit: \"unit.percent\",\n        factor: \"0.01\"\n    },\n    boiler_control$boiler_flame_state: {\n        key: \"b2bc\",\n        type: \"uint8\"\n    },\n    boiler_control$boiler_lowLoadState: {\n        key: \"b202\",\n        type: \"uint8\"\n    },\n    boiler_control$boiler_lowLoadDutyCycle_u8: {\n        key: \"b2c6\",\n        type: \"uint8\"\n    },\n    boiler_control$boiler_control_flags: {\n        key: \"b28c\",\n        type: \"uint8\",\n        bits: [\"bBoilerOvertemperatureShutdown\", \"bBoilerNoReponse\", \"bLowLoadFlameOn\", \"bLowLoadFlameOnPrev\", \"bTemperatureBlankingActive\"]\n    },\n    boiler_control$pidcontrol_setpoint: {\n        key: \"b2ee\",\n        type: \"int16\",\n        unit: \"unit.degrees_celcius\",\n        factor: \"0.01\"\n    },\n    boiler_control$pidcontrol_actual: {\n        key: \"b24d\",\n        type: \"int16\",\n        unit: \"unit.degrees_celcius\",\n        factor: \"0.01\"\n    },\n    boiler_control$pidcontrol_output: {\n        key: \"b206\",\n        type: \"int16\",\n        unit: \"unit.degrees_celcius\",\n        factor: \"0.01\"\n    },\n    boiler_control$pidcontrol_part_p: {\n        key: \"b25a\",\n        type: \"int16\",\n        unit: \"unit.degrees_celcius\",\n        factor: \"0.01\"\n    },\n    boiler_control$pidcontrol_part_i: {\n        key: \"b215\",\n        type: \"int16\",\n        unit: \"unit.degrees_celcius\",\n        factor: \"0.01\"\n    },\n    boiler_status_1$to_boiler_ot_status: {\n        key: \"8457\",\n        type: \"uint8\"\n    },\n    boiler_status_1$to_boiler_ot_master_config: {\n        key: \"841b\",\n        type: \"uint8\"\n    },\n    boiler_status_1$to_boiler_ot_control_setpoint: {\n        key: \"8434\",\n        type: \"int16\",\n        unit: \"unit.degrees_celcius\",\n        factor: \"0.01\"\n    },\n    boiler_status_1$to_boiler_ot_modulation_level_set: {\n        key: \"848e\",\n        type: \"int16\",\n        unit: \"unit.percent\",\n        factor: \"0.01\"\n    },\n    boiler_status_1$to_boiler_ot_room_temperature_set: {\n        key: \"8415\",\n        type: \"int16\",\n        unit: \"unit.percent\",\n        factor: \"0.01\"\n    },\n    boiler_status_1$to_boiler_ot_room_temperature_act: {\n        key: \"841f\",\n        type: \"int16\",\n        unit: \"unit.degrees_celcius\",\n        factor: \"0.01\"\n    },\n    boiler_status_1$to_boiler_ot_dhw_setpoint_set: {\n        key: \"84ec\",\n        type: \"int16\",\n        unit: \"unit.degrees_celcius\",\n        factor: \"0.01\"\n    },\n    boiler_status_1$to_boiler_ot_ext_boiler_set: {\n        key: \"8476\",\n        type: \"int16\",\n        unit: \"unit.degrees_celcius\",\n        factor: \"0.01\"\n    },\n    boiler_status_1$from_boiler_ot_status: {\n        key: \"843a\",\n        type: \"uint8\"\n    },\n    boiler_status_1$from_ot_slave_config: {\n        key: \"8418\",\n        type: \"uint8\"\n    },\n    boiler_status_1$from_boiler_ot_oem_faultcode: {\n        key: \"8439\",\n        type: \"uint8\"\n    },\n    boiler_status_1$from_boiler_ot_override_function: {\n        key: \"8445\",\n        type: \"uint8\"\n    },\n    boiler_status_1$from_boiler_ot_remote_parameter: {\n        key: \"84f7\",\n        type: \"uint16\"\n    },\n    boiler_status_1$from_boiler_ot_override_temperature: {\n        key: \"8488\",\n        type: \"int16\",\n        unit: \"unit.degrees_celcius\",\n        factor: \"0.01\"\n    },\n    boiler_status_1$from_boiler_ot_modulation_level: {\n        key: \"84d1\",\n        type: \"int16\",\n        unit: \"unit.percent\",\n        factor: \"0.01\"\n    },\n    boiler_status_1$from_boiler_ot_ch_pressure: {\n        key: \"844c\",\n        type: \"int16\",\n        unit: \"unit.bars\",\n        factor: \"0.01\"\n    },\n    boiler_status_2$from_boiler_ot_dhw_flowrate: {\n        key: \"8e7f\",\n        type: \"int16\",\n        unit: \"unit.liters_per_minute\",\n        factor: \"0.01\"\n    },\n    boiler_status_2$from_boiler_ot_boiler_temp_s16: {\n        key: \"8e38\",\n        type: \"int16\",\n        unit: \"unit.degrees_celcius\",\n        factor: \"0.01\"\n    },\n    boiler_status_2$from_boiler_ot_return_water_temp_s16: {\n        key: \"8e16\",\n        type: \"int16\",\n        unit: \"unit.degrees_celcius\",\n        factor: \"0.01\"\n    },\n    boiler_status_2$from_boiler_ot_dhw_temperature: {\n        key: \"8edb\",\n        type: \"int16\",\n        unit: \"unit.degrees_celcius\",\n        factor: \"0.01\"\n    },\n    boiler_status_2$from_boiler_ot_outside_temperature: {\n        key: \"8e80\",\n        type: \"int16\",\n        unit: \"unit.degrees_celcius\",\n        factor: \"0.01\"\n    },\n    boiler_status_2$from_boiler_ot_dhw_bounds_u16: {\n        key: \"8e34\",\n        type: \"uint16\"\n    },\n    boiler_status_2$from_boiler_ot_ch_bounds_u16: {\n        key: \"8e39\",\n        type: \"uint16\"\n    },\n    boiler_status_2$from_boiler_ot_dhw_setpoint: {\n        key: \"8ecb\",\n        type: \"int16\",\n        unit: \"unit.degrees_celcius\",\n        factor: \"0.01\"\n    },\n    boiler_status_2$from_boiler_ot_ch_water_setpoint: {\n        key: \"8e8f\",\n        type: \"int16\",\n        unit: \"unit.degrees_celcius\",\n        factor: \"0.01\"\n    },\n    boiler_status_2$from_boiler_ot_spark_not_succesfull: {\n        key: \"8e9d\",\n        type: \"uint16\"\n    },\n    boiler_status_2$from_boiler_ot_flame_loss: {\n        key: \"8e18\",\n        type: \"uint16\"\n    },\n    boiler_status_2$from_boiler_ot_burner_starts: {\n        key: \"8e00\",\n        type: \"uint16\"\n    },\n    boiler_status_2$from_boiler_ot_ch_hours: {\n        key: \"8ef9\",\n        type: \"uint16\",\n        unit: \"unit.hours\"\n    },\n    boiler_status_2$from_boiler_ot_dhw_hours: {\n        key: \"8e37\",\n        type: \"uint16\",\n        unit: \"unit.hours\"\n    },\n    boiler_status_2$from_boiler_ot_slave_opentherm_version: {\n        key: \"8ecc\",\n        type: \"uint16\"\n    },\n    boiler_status_2$from_boiler_ot_slave_version: {\n        key: \"8e1e\",\n        type: \"uint16\"\n    }\n}\n\nconst mockInput = { \"stats\": { \"4133\": 0, \"5041\": 0, \"5077\": 0, \"5088\": 0, \"5099\": 1, \"6280\": 2613, \"6505\": 2450, \"6578\": 1, \"6579\": 1687, \"7160\": 5, \"7767\": 2000, \"7921\": 1500, \"7940\": 255, \"8439\": 0, \"79b3\": 2415, \"50f2\": 7, \"503e\": 0, \"50ae\": 0, \"50f7\": 0, \"506a\": 0, \"63f0\": 1, \"63b3\": 0, \"63df\": 0, \"6a8e\": 4, \"6ac5\": 0, \"6a53\": 0, \"71a7\": 457, \"8e00\": 0, \"8ef9\": 0, \"8e37\": 0, \"8e18\": 0, \"f9f2\": 8, \"65b0\": 1687, \"65d9\": 2450, \"65c1\": 2500, \"65a7\": 0, \"658a\": 0, \"65d0\": 0, \"7ed3\": 32767, \"7e51\": 126, \"7e2c\": 255, \"7ee6\": 32767, \"7e81\": 32767, \"7e31\": 32767, \"629c\": 0, \"62e7\": 2636, \"62d1\": 2450, \"77c3\": 128, \"77d2\": 17092, \"6cfb\": -50, \"6c33\": -186, \"6c8a\": 0, \"6c61\": 0, \"6c66\": 500, \"6c53\": 0, \"6c26\": 2742, \"6ceb\": 2706, \"b28c\": 0, \"b2bc\": 0, \"84d1\": 32767, \"47e0\": \"V0.21-\" } }\n\n/**\n* @param {string} key\n*/\nfunction findByKey(key) {\n    const entry = Object.entries(e).find((element) => element[1].key == key);\n    return {\n        title: entry[0].replace(\"$\", \"_\").toLowerCase(),\n        data: entry[1]\n    }\n}\n\nfunction parseBits(data, value) {\n    if (data.bits && Array.isArray(data.bits)) {\n        let bitValues = {};\n        for (let i = 0; i < data.bits.length; i++) {\n            // Shift the value to the right by 'i' places and check if the least significant bit is 1.\n            bitValues[data.bits[i]] = (value >> i) & 1;\n        }\n        return bitValues;\n    }\n    return null;\n}\n\n\nfunction parseValue(data, value) {\n    switch (data.type) {\n        case \"int8\":\n        case \"int16\":\n        case \"uint8\":\n        case \"uint16\":\n        case \"uint24\":\n            if (data.factor != null)\n                return value * data.factor\n            if (data.options != null)\n                return data.options[value]\n            if (data.bits != null)\n                return parseBits(data, value);\n            else return value\n        case \"bytes\": return value\n        default: null\n    }\n}\n\nfunction parseInput(input) {\n    var response = []\n    Object.entries(input).forEach(entry => {\n        const data = findByKey(entry[0])\n        response.push({\n            title: data.title,\n            data: data.data,\n            value: entry[1],\n            parsed: parseValue(data.data, entry[1])\n        })\n    })\n\n    return response\n}\n\nmsg.payload.parsed = parseInput(msg.payload.stats)\n\nreturn msg\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":400,"wires":[["5834360c158d6405"]]},{"id":"5834360c158d6405","type":"function","z":"67c21f546f3495cc","name":"fill-data","func":"var result = {}\n\nfor (const p of msg.payload.parsed) {\n    result[p.title] = p.parsed\n}\n\nmsg.payload.data = result\nmsg.payload.running = msg.payload.data.status_5_actualfrequency > 1\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":400,"wires":[["d1fdd80ba8add9a5","e8291ba23fab334b","e5036e08526a43ea","06933391f3d1bc8e","d0457629c37af3c4","14ff2eb6f2355477","096e82ee7e78dde4","c0cf497c9558ac52","77417ad22e2e601f","33977616636f204d","c29f33bddfb3cf85","225ef81a9316023c","b472bf43ddc41c58","f55a2bd883d41be9","a253069e22f4c317","9b05346f1c81dc1d","913564ed173ddcd6","054982c6c587c43e","7c13acd879be933e","4954086187264e53","5141b1673d0b82ec","276304494b65aa25"]]},{"id":"7ae7175559261e63","type":"ha-sensor","z":"67c21f546f3495cc","name":"cop","entityConfig":"d1a668c5d339cb68","version":0,"state":"payload.data.status_s_currentcop","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1350,"y":140,"wires":[[]]},{"id":"d1fdd80ba8add9a5","type":"ha-sensor","z":"67c21f546f3495cc","name":"thermal-power-heatpump","entityConfig":"07d1cb97bb167b08","version":0,"state":"payload.data.status_s_currenthppowerthermal","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1170,"y":960,"wires":[[]]},{"id":"e8291ba23fab334b","type":"ha-sensor","z":"67c21f546f3495cc","name":"temperature-room","entityConfig":"c305cec871a218b5","version":0,"state":"payload.data.status_1_roomtemperature_1","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1150,"y":680,"wires":[[]]},{"id":"e5036e08526a43ea","type":"ha-sensor","z":"67c21f546f3495cc","name":"software-version","entityConfig":"a8aa6af408e5c674","version":0,"state":"payload.data.cpuinfo_software_version","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1140,"y":340,"wires":[[]]},{"id":"06933391f3d1bc8e","type":"ha-sensor","z":"67c21f546f3495cc","name":"water-temperature-return","entityConfig":"77cd0f34e42b2f7d","version":0,"state":"payload.data.status_4_thpreturn","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1170,"y":440,"wires":[[]]},{"id":"d0457629c37af3c4","type":"ha-sensor","z":"67c21f546f3495cc","name":"water-temperature-supply","entityConfig":"0332dc3aa1e97b16","version":0,"state":"payload.data.status_4_thpsupply","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1170,"y":480,"wires":[[]]},{"id":"ccdda2f7f82adc9a","type":"rbe","z":"67c21f546f3495cc","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":270,"y":400,"wires":[["1fa61275a62eddf9"]]},{"id":"a624cdbf6088f2d2","type":"yaml","z":"67c21f546f3495cc","property":"payload","name":"","x":510,"y":400,"wires":[["037a8771d6eddae7"]]},{"id":"14ff2eb6f2355477","type":"ha-sensor","z":"67c21f546f3495cc","name":"temperature-outdoor","entityConfig":"e38a3abb9e860f64","version":0,"state":"payload.data.status_4_toutdoor","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1160,"y":640,"wires":[[]]},{"id":"096e82ee7e78dde4","type":"ha-sensor","z":"67c21f546f3495cc","name":"error-code","entityConfig":"b294f1a8dd98d21e","version":0,"state":"payload.data.status_9_errorcode","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1130,"y":180,"wires":[[]]},{"id":"c0cf497c9558ac52","type":"ha-sensor","z":"67c21f546f3495cc","name":"water-temperature-target","entityConfig":"ffdeb8b49ed23e4b","version":0,"state":"payload.data.status_3_requestedtemperature","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1170,"y":520,"wires":[[]]},{"id":"77417ad22e2e601f","type":"ha-sensor","z":"67c21f546f3495cc","name":"fan-speed","entityConfig":"96b665c9faac90fc","version":0,"state":"payload.data.status_6_actualfan1speed","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1120,"y":780,"wires":[[]]},{"id":"33977616636f204d","type":"ha-binary-sensor","z":"67c21f546f3495cc","name":"boiler-flame-state","entityConfig":"314f19aa5db3bdc6","version":0,"state":"payload.data.boiler_control_boiler_flame_state","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1150,"y":820,"wires":[[]]},{"id":"c29f33bddfb3cf85","type":"debug","z":"67c21f546f3495cc","name":"debug 1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1120,"y":20,"wires":[]},{"id":"225ef81a9316023c","type":"ha-sensor","z":"67c21f546f3495cc","name":"water-flow","entityConfig":"7f0cfdbae3165339","version":0,"state":"payload.data.status_4_fsystem","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1130,"y":400,"wires":[[]]},{"id":"b472bf43ddc41c58","type":"ha-sensor","z":"67c21f546f3495cc","name":"thermal-power-boiler","entityConfig":"4bf0228137b0ceab","version":0,"state":"payload.data.status_s_currentboilerpowerthermal","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1160,"y":920,"wires":[[]]},{"id":"f55a2bd883d41be9","type":"ha-sensor","z":"67c21f546f3495cc","name":"thermal-power-total","entityConfig":"0eea9b2abc8f4c0e","version":0,"state":"payload.data.status_s_currentpowerthermal","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1150,"y":880,"wires":[[]]},{"id":"5f55bda4a0bbc47c","type":"tcp in","z":"67c21f546f3495cc","name":"xtend-gateway","server":"client","host":"10.0.0.167","port":"1234","datamode":"stream","datatype":"utf8","newline":"","topic":"","trim":false,"base64":false,"tls":"","x":100,"y":400,"wires":[["ccdda2f7f82adc9a"]]},{"id":"1fa61275a62eddf9","type":"switch","z":"67c21f546f3495cc","name":"regex","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"\\{.*\\:\\{.*\\:.*\\}\\}","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":400,"wires":[["a624cdbf6088f2d2"]]},{"id":"8be74e7170922c02","type":"inject","z":"67c21f546f3495cc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"stats\":{\"4133\":0,\"5041\":0,\"5077\":0,\"5088\":0,\"5099\":1,\"6280\":2613,\"6505\":2450,\"6578\":1,\"6579\":1687,\"7160\":5,\"7767\":2000,\"7921\":1500,\"7940\":255,\"8439\":0,\"79b3\":2415,\"50f2\":7,\"503e\":0,\"50ae\":0,\"50f7\":0,\"506a\":0,\"63f0\":1,\"63b3\":0,\"63df\":0,\"6a8e\":4,\"6ac5\":0,\"6a53\":0,\"71a7\":457,\"8e00\":0,\"8ef9\":0,\"8e37\":0,\"8e18\":0,\"f9f2\":8,\"65b0\":1687,\"65d9\":2450,\"65c1\":2500,\"65a7\":0,\"658a\":0,\"65d0\":0,\"7ed3\":32767,\"7e51\":126,\"7e2c\":255,\"7ee6\":32767,\"7e81\":32767,\"7e31\":32767,\"629c\":0,\"62e7\":2636,\"62d1\":2450,\"77c3\":128,\"77d2\":17092,\"6cfb\":-50,\"6c33\":-186,\"6c8a\":0,\"6c61\":0,\"6c66\":500,\"6c53\":0,\"6c26\":2742,\"6ceb\":2706,\"b28c\":0,\"b2bc\":0,\"84d1\":32767,\"47e0\":\"V0.21-\"}}","payloadType":"json","x":510,"y":360,"wires":[["037a8771d6eddae7"]]},{"id":"a253069e22f4c317","type":"ha-sensor","z":"67c21f546f3495cc","name":"start-counter","entityConfig":"fd26c1a1f886722b","version":0,"state":"payload.data.statistics_5_startheatingcounter","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1130,"y":240,"wires":[[]]},{"id":"9b05346f1c81dc1d","type":"ha-sensor","z":"67c21f546f3495cc","name":"state","entityConfig":"1cf2e4b277334cb7","version":0,"state":"payload.data.status_0_heatdemand_status","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1110,"y":60,"wires":[[]]},{"id":"913564ed173ddcd6","type":"ha-binary-sensor","z":"67c21f546f3495cc","name":"running","entityConfig":"9ba4bf9f3e20579a","version":0,"state":"payload.running","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1120,"y":100,"wires":[[]]},{"id":"054982c6c587c43e","type":"ha-sensor","z":"67c21f546f3495cc","name":"temperature-set","entityConfig":"b20ec47d4ec63fe2","version":0,"state":"payload.data.status_1_roomtemperature_set_1","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1140,"y":720,"wires":[[]]},{"id":"7c13acd879be933e","type":"ha-sensor","z":"67c21f546f3495cc","name":"defrost-counter","entityConfig":"6226b808e207a4d1","version":0,"state":"payload.data.statistics_5_startdefrostcounter","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1140,"y":280,"wires":[[]]},{"id":"4954086187264e53","type":"ha-sensor","z":"67c21f546f3495cc","name":"actual-frequency","entityConfig":"d172127014fb1479","version":0,"state":"payload.data.status_5_actualfrequency","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1150,"y":580,"wires":[[]]},{"id":"5141b1673d0b82ec","type":"ha-sensor","z":"67c21f546f3495cc","name":"thermal-power-heatpump-sum","entityConfig":"152a0f233ec6d4e5","version":0,"state":"payload.data.statistics_6_thermalenergyheating","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1190,"y":1020,"wires":[[]]},{"id":"276304494b65aa25","type":"switch","z":"67c21f546f3495cc","name":"","property":"payload.data.status_0_heatdemand_status","propertyType":"msg","rules":[{"t":"eq","v":"ch","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1110,"y":140,"wires":[["fc6881d163b725e5"]]},{"id":"fc6881d163b725e5","type":"switch","z":"67c21f546f3495cc","name":"","property":"payload.data.status_s_currentcop","propertyType":"msg","rules":[{"t":"lte","v":"6.5","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1230,"y":140,"wires":[["7ae7175559261e63"]]},{"id":"d1a668c5d339cb68","type":"ha-entity-config","server":"d735e4de.186d68","deviceConfig":"682ac0b196a48b2e","name":"xtend-cop","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Xtend COP"},{"property":"icon","value":"mdi:numeric"},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"07d1cb97bb167b08","type":"ha-entity-config","server":"d735e4de.186d68","deviceConfig":"682ac0b196a48b2e","name":"xtend-thermal-power-heatpump","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Xtend Thermal power heatpump"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":"power"},{"property":"unit_of_measurement","value":"kW"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"c305cec871a218b5","type":"ha-entity-config","server":"d735e4de.186d68","deviceConfig":"682ac0b196a48b2e","name":"xtend-temperature-room","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Xtend Room temperature"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":"temperature"},{"property":"unit_of_measurement","value":"C"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"a8aa6af408e5c674","type":"ha-entity-config","server":"d735e4de.186d68","deviceConfig":"682ac0b196a48b2e","name":"xtend-software-version","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Xtend Software version"},{"property":"icon","value":"mdi:information-outline"},{"property":"entity_category","value":"diagnostic"},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"77cd0f34e42b2f7d","type":"ha-entity-config","server":"d735e4de.186d68","deviceConfig":"682ac0b196a48b2e","name":"xtend-water-temperature-return","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Xtend Water temperature return"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":"temperature"},{"property":"unit_of_measurement","value":"C"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"0332dc3aa1e97b16","type":"ha-entity-config","server":"d735e4de.186d68","deviceConfig":"682ac0b196a48b2e","name":"xtend-water-temperature-supply","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Xtend Water temperature supply"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":"temperature"},{"property":"unit_of_measurement","value":"C"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"e38a3abb9e860f64","type":"ha-entity-config","server":"d735e4de.186d68","deviceConfig":"682ac0b196a48b2e","name":"xtend-temperature-outside","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Xtend Outdoor temperature"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":"temperature"},{"property":"unit_of_measurement","value":"C"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"b294f1a8dd98d21e","type":"ha-entity-config","server":"d735e4de.186d68","deviceConfig":"682ac0b196a48b2e","name":"xtend-error-code","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Xtend Error code"},{"property":"icon","value":"mdi:alert-circle-outline"},{"property":"entity_category","value":"diagnostic"},{"property":"entity_picture","value":""},{"property":"device_class","value":"enum"},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"ffdeb8b49ed23e4b","type":"ha-entity-config","server":"d735e4de.186d68","deviceConfig":"682ac0b196a48b2e","name":"xtend-water-temperature-target","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Xtend Water temperature target"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":"temperature"},{"property":"unit_of_measurement","value":"C"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"96b665c9faac90fc","type":"ha-entity-config","server":"d735e4de.186d68","deviceConfig":"682ac0b196a48b2e","name":"xtend-fan-speed","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Xtend Fan speed"},{"property":"icon","value":"mdi:fan"},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":"rpm"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"314f19aa5db3bdc6","type":"ha-entity-config","server":"d735e4de.186d68","deviceConfig":"682ac0b196a48b2e","name":"xtend-boiler-flame-state","version":"6","entityType":"binary_sensor","haConfig":[{"property":"name","value":"Xtend Boiler flame"},{"property":"icon","value":"mdi:fire"},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"7f0cfdbae3165339","type":"ha-entity-config","server":"d735e4de.186d68","deviceConfig":"682ac0b196a48b2e","name":"xtend-water-flow","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Xtend Water flow"},{"property":"icon","value":"mdi:pump"},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":"l/min"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"4bf0228137b0ceab","type":"ha-entity-config","server":"d735e4de.186d68","deviceConfig":"682ac0b196a48b2e","name":"xtend-thermal-power-boiler","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Xtend Thermal power boiler"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":"power"},{"property":"unit_of_measurement","value":"kW"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"0eea9b2abc8f4c0e","type":"ha-entity-config","server":"d735e4de.186d68","deviceConfig":"682ac0b196a48b2e","name":"xtend-thermal-power-total","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Xtend Thermal power total"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":"power"},{"property":"unit_of_measurement","value":"kW"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"fd26c1a1f886722b","type":"ha-entity-config","server":"d735e4de.186d68","deviceConfig":"682ac0b196a48b2e","name":"xtend-start-counter","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Xtend Start Counter"},{"property":"icon","value":"mdi:counter"},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":"total_increasing"}],"resend":false,"debugEnabled":false},{"id":"1cf2e4b277334cb7","type":"ha-entity-config","server":"d735e4de.186d68","deviceConfig":"682ac0b196a48b2e","name":"xtend-heatpump-state","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Xtend State"},{"property":"icon","value":"mdi:heat-pump-outline"},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":"enum"},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"9ba4bf9f3e20579a","type":"ha-entity-config","server":"d735e4de.186d68","deviceConfig":"682ac0b196a48b2e","name":"xtend-running","version":"6","entityType":"binary_sensor","haConfig":[{"property":"name","value":"Xtend Running"},{"property":"icon","value":"mdi:fan"},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":"running"}],"resend":false,"debugEnabled":false},{"id":"b20ec47d4ec63fe2","type":"ha-entity-config","server":"d735e4de.186d68","deviceConfig":"682ac0b196a48b2e","name":"xtend-setpoint-temperature","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Xtend setpoint temperature"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":"temperature"},{"property":"unit_of_measurement","value":"C"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"6226b808e207a4d1","type":"ha-entity-config","server":"d735e4de.186d68","deviceConfig":"682ac0b196a48b2e","name":"xtend-defrost-counter","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Xtend Defrost Counter"},{"property":"icon","value":"mdi:counter"},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":"total_increasing"}],"resend":false,"debugEnabled":false},{"id":"d172127014fb1479","type":"ha-entity-config","server":"d735e4de.186d68","deviceConfig":"682ac0b196a48b2e","name":"xtend-frequency","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Xtend Actual Frequency"},{"property":"icon","value":"mdi:sine-wave"},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":"frequency"},{"property":"unit_of_measurement","value":"Hz"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"152a0f233ec6d4e5","type":"ha-entity-config","server":"d735e4de.186d68","deviceConfig":"682ac0b196a48b2e","name":"xtend-thermal-power-heatpump-sum","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Xtend Thermal Power Heatpump Sum"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":"energy"},{"property":"unit_of_measurement","value":"kWh"},{"property":"state_class","value":"total_increasing"}],"resend":false,"debugEnabled":false},{"id":"d735e4de.186d68","type":"server","name":"Home Assistant","version":5,"addon":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":true,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true},{"id":"682ac0b196a48b2e","type":"ha-device-config","name":"Xtend Heatpump","hwVersion":"","manufacturer":"Intergas","model":"Xtend","swVersion":""}]
